<style type="text/css">
  .select2-container--default .select2-selection--single {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.5;
    color: var(--bs-body-color);
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    right: 0.5rem;
  }

  .select2-container--default .select2-selection--multiple {
    min-height: calc(2.25rem + 2px);
    padding: 0.15rem 0.5rem;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-body-bg);
  }

  .select2-container--default.select2-container--open .select2-selection--multiple {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
  }

  .select2-container--default.select2-container--open .select2-selection--single {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
  }
</style>

<script>
  fw.initComponent('select2', {
    scope: fw.scopeFromScript(),
    assetsUrls: [
      '<~GLOBAL[ASSETS_URL]>/lib/select2/dist/css/select2.min.css?v<~GLOBAL[SITE_VERSION]>',
      '<~GLOBAL[ASSETS_URL]>/lib/select2/dist/js/select2.min.js?v<~GLOBAL[SITE_VERSION]>'
    ],
    init: function (scope, params) {
      if (!$.fn.select2) return;

      var $scope = $(scope || document);
      var $selects = $scope.find('.select2');

      $selects.removeClass('form-select');

      $selects.each(function () {
        var $select2 = $(this);
        if ($select2.data('select2')) return;

        var $form = $(this.form);
        var initVal = $select2.val();
        var isFilterAutosubmit = false;
        var isFormAutosave = false;

        if ($form.is('[data-list-filter][data-autosubmit]')) {
          $select2.attr('data-nosubmit', 'true');
          isFilterAutosubmit = true;
        } else if ($form.is('[data-autosave]')) {
          $select2.attr('data-noautosave', 'true');
          isFormAutosave = true;
        }

        var options = {
          width: '100%',
          dropdownAutoWidth: true,
          placeholder: $select2.data('placeholder') || undefined
        };
        options = $.extend(options, $select2.data('select2-options'));

        $select2.select2(options);

        $select2.on('select2:close', function () {
          if (isFilterAutosubmit && !_isSelvalEqual(initVal, $select2.val()))
            $form.trigger('submit');
          else if (isFormAutosave && !_isSelvalEqual(initVal, $select2.val()))
            $form.trigger('autosave');
        });

        $select2.on('change.fwSelect2', function () {
          $select2.closest('form[data-check-changes]').trigger('change');
        });
      });

      function _isSelvalEqual(a, b) {
        var isArrayA = Array.isArray(a);
        var isArrayB = Array.isArray(b);

        if (isArrayA !== isArrayB) return false;

        if (!isArrayA) return (a === b);

        if (a.length !== b.length) return false;

        for (var i = 0; i < a.length; ++i) {
          if (a[i] !== b[i]) return false;
        }

        return true;
      }
    }
  });
</script>
