<nav class="navbar navbar-expand-md bg-body-tertiary d-md-none site-navbar">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <button class="btn btn-link text-dark-emphasis sidebar-toggler-show on-sidebar-toggler me-2">
        <i class="bi bi-arrow-bar-right"></i>
      </button>
      <a class="navbar-brand" href="<~ROOT_URL>/">
        <img src="<~GLOBAL[ASSETS_URL]>/img/logo.png" alt="logo" height="28" class="align-text-top">
        <~/site_name><~./beta if="GLOBAL[is_test]">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>