<div class="col-auto">
  <div class="input-group">
    <span class="input-group-text">`Screen`</span>
    <select id="ficode" name="f[icode]" class="form-select">
      <option value="">- all -</option>
      <~select_icodes select="f[icode]">
    </select>
  </div>
</div>
<div class="col-auto">
  <div class="input-group">
    <span class="input-group-text">`Status`</span>
    <select id="fstatus" name="f[status]" class="form-select">
      <option value="">- all -</option>
      <~/common/sel/statusf.sel select="f[status]">
    </select>
  </div>
</div>
