<div class="mb-2 clearfix">
    <div class="float-end pt-1 ps-3 dropdown">
        <button class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="`Color Mode`">
            <~btn_cm_auto ifeq="GLOBAL[ui_mode]" value="0" inline><i class="bi bi-circle-half"></i></~btn_cm_auto>
            <~btn_cm_light ifeq="GLOBAL[ui_mode]" value="10" inline><i class="bi bi-sun-fill"></i></~btn_cm_light>
            <~btn_cm_dark ifeq="GLOBAL[ui_mode]" value="20" inline><i class="bi bi-moon-stars-fill"></i></~btn_cm_dark>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="<~../url>/(UIMode)/0" class="dropdown-item <~/common/active ifeq="GLOBAL[ui_mode]" value="0">"><i class="bi bi-circle-half"></i> `Auto`</a></li>
            <li><a href="<~../url>/(UIMode)/10" class="dropdown-item <~/common/active ifeq="GLOBAL[ui_mode]" value="10">"><i class="bi bi-sun-fill"></i> `Light`</a></li>
            <li><a href="<~../url>/(UIMode)/20" class="dropdown-item <~/common/active ifeq="GLOBAL[ui_mode]" value="20">"><i class="bi bi-moon-stars-fill"></i> `Dark`</a></li>
        </ul>
    </div>
    <div class="float-end pt-1 ps-3 dropdown">
        <button class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">`Theme`</button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="<~../url>/(UITheme)/0" class="dropdown-item <~/common/active ifeq="GLOBAL[ui_theme]" value="0">">`Default`</a></li>
            <li><a href="<~../url>/(UITheme)/10" class="dropdown-item text-danger <~/common/active ifeq="GLOBAL[ui_theme]" value="10">">`Red`</a></li>
            <li><a href="<~../url>/(UITheme)/20" class="dropdown-item text-success <~/common/active ifeq="GLOBAL[ui_theme]" value="20">">`Green`</a></li>
            <li><a href="<~../url>/(UITheme)/30" class="dropdown-item text-info <~/common/active ifeq="GLOBAL[ui_theme]" value="30">">`Blue`</a></li>
        </ul>
    </div>
    <div class="float-end pt-1">
        <~/assistant/index/form_inline if="GLOBAL[OPENAI_API_KEY]">
    </div>
    <h1><~title></h1>
</div>

<~/common/form/msg>

<div class="row">
    <div class="col">
        <~std_pane sub="panes[plate1]">
    </div>
    <div class="col">
        <~std_pane sub="panes[plate2]">
    </div>
    <div class="col">
        <~std_pane sub="panes[plate3]">
    </div>
    <div class="col">
        <~std_pane sub="panes[plate4]">
    </div>
</div>

<div class="row">
    <div class="col col-sm-8">
        <~std_pane sub="panes[barchart]">
    </div>
    <div class="col col-sm-4">
        <~std_pane sub="panes[piechart]">
    </div>
</div>

<div class="row">
    <div class="col col-sm-5">
        <~std_pane sub="panes[tabledata]">
        <~#std_pane sub="panes[htmldata]">
    </div>
    <div class="col col-sm-7">
        <~std_pane sub="panes[linechart]">
    </div>
</div>

<~/layout/footer>
