<~/my/feedback/showform/modal>

<!-- Placed at the end of the document so the pages load faster -->
<!--script src="<~GLOBAL[ASSETS_URL]>/js/lng/<~GLOBAL[LANG]>.js"></script-->

<~/layout/vue/importmaps>
<script src="<~GLOBAL[ASSETS_URL]>/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
 <~/layout/vue/apputils.js>
 console.log("after utils");
</script>

<~load_script>

<script type="module">
 import { createApp } from 'vue';
 import { createPinia, defineStore } from 'pinia';
 import { mande } from 'mande';

 console.log("before store");
 <~store.js>

 console.log("before app");
 <~app.js>
</script>

<~vue_components>

<script type="module">
 app.mount('#app');
 console.log("app mounted");
</script>


<~footer_script>

<~#/layout/counters/ga>
