<script type="text/x-template" id="form-one-col-template">
  <div class="col-12" :class="def.class">
    <form-one-def v-for="child_def in def.children"
      v-model="modelValue"
      :def="child_def"
      :lookups="lookups"
    />
  </div>
</script>

<script type="module">
fwApp.component('form-one-col', {
  template: '#form-one-col-template',
  props: ['def', 'lookups', 'modelValue'],
  emits: ['update:modelValue'],
  data: () => ({
  }),
  mounted(){
  },
  updated(){
  },
  methods: {
  }
});
</script>
