<script type="text/x-template" id="list-table-template">
 <div>
  <form class="fw-card" action="<~../url>" method="post">
    <input type="hidden" name="XSS" value="<~SESSION[XSS]>">
    <input type="hidden" name="_method" value="PUT">
    <~/common/form/relid>

    <div class="table-list-wrapper">
      <div class="table-list-hscroll-hint"><~/common/icons/info-circle-fill> use <kbd>Shift+Mouse Wheel</kbd> for an easy horizontal scrolling
      </div>
      <table class="table table-stripedX table-hover list <~user_view[density] default="table-sm">">
        <thead>
            <tr>
              <~/common/list/th_chkall>
              <~/common/list/th_filter_customize if="GLOBAL[is_list_btn_left]">
              <template v-for="header in fwStore.headers">
                <th :class="'rotate'+(header.is_sortable && fwStore.f.sortby==header.field_name ? ' active-sort' : '')" :data-sort="header.is_sortable">
                  <div>
                    <span>{{header.field_name_visible}}</span>
                    <span class="ms-1" v-if="header.is_sortable && fwStore.f.sortby==header.field_name">
                      <template v-if="fwStore.f.sortdif=='desc'">
                        <!-- desc icon -->
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/></svg>
                      </template>
                      <template v-else>
                        <!-- asc icon -->
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/></svg>
                      </template>
                    </span>
                  </div>
                </th>
              </template>
              <~/common/list/th_filter_customize unless="GLOBAL[is_list_btn_left]">
            </tr>
            <tr class="search">
              <th></th>
              <~/common/list/th_empty if="GLOBAL[is_list_btn_left]">
              <~headers_search repeat inline>
                  <th><input type="text" name="search[<~field_name>]" value="<~search_value>" class="form-control form-control-sm"></th>
              </~headers_search>
              <~/common/list/th_empty unless="GLOBAL[is_list_btn_left]">
            </tr>
        </thead>

        <tbody class="table-group-divider">
          <template v-for="row in fwStore.list_rows" :key="row[fwStore.field_id]">
            <tr data-url="<~row_click_url>" :data-id="row[fwStore.field_id]" :title="row_title">
                <td><input class="multicb" type="checkbox" :name="'cb['+row[fwStore.field_id]+']'" value="1"></td>
                <!--TODO make common component for row btn-->
                <td :class="'text-nowrap d-print-none '+(fwStore.global.is_list_btn_left?'':'text-end')" v-if="fwStore.global.is_list_btn_left">
                  <a href="<~../url>/<~id><~/common/list/relid>">`View`</a>
                  <~/common/dot><a href="<~row_click_url>">`Edit`</a>
                  <~/common/dot> <a href="<~../url>/<~id>/delete<~/common/list/relid>"
                                    class="text-danger on-delete-list-row"
                                    :disabled="fwStore.is_readonly"><~/common/icons/x></a>
                </td>

                <template v-for="(header, key) in fwStore.headers" :key="key">
                  <td>{{fieldValueByName(row, header.field_name)}}</td>
                </template>

                <!--TODO make common component for row btn-->
                <td :class="'text-nowrap d-print-none '+(fwStore.global.is_list_btn_left?'':'text-end')" v-if="!fwStore.global.is_list_btn_left">
                  <a href="<~../url>/<~id><~/common/list/relid>">`View`</a>
                  <~/common/dot><a href="<~row_click_url>">`Edit`</a>
                  <~/common/dot> <a href="<~../url>/<~id>/delete<~/common/list/relid>"
                                    class="text-danger on-delete-list-row"
                                    :disabled="fwStore.is_readonly"><~/common/icons/x></a>
                </td>
            </tr>
          </template>
        </tbody>

      </table>
    </div>

    <div class="text-center py-4" v-if="!fwStore.list_rows">
      <h3><~/common/icons/0-square> `No results`</h3>
      Try to <a href="<~/common/list/reset_filter_relid>">reset</a> all filters.
    </div>

    <div v-if="fwStore.list_rows">
      <div class="float-md-end pt-2 mb-3 d-print-none">
        <span class="badge"></span><br>
        <div class="d-flex justify-content-md-end">
          <list-pagination
            :pager="fwStore.pager"
            :pagesize="fwStore.f.pagesize"
            @on-page="(ev) => fwStore.setFilters({pagenum:ev})"
            @on-pagesize="(ev) => fwStore.setFilters({pagesize:ev})"></list-pagination>
        </div>
      </div>

      <~/common/list/btn_multidel>
    </div>

  </form>

  <hr class="d-print-none">
  <form id="FOneDelete" action="<~../url>/%id%?XSS=<~SESSION[XSS]>" method="post" class="d-none">
  </form>

 </div>
</script>

<script type="module">
import { mapStores } from 'pinia';

fwApp.component('list-table', {
  template: '#list-table-template',
  props: [],
  data: () => ({
    row_title: 'Double click to Edit'
  }),
  computed: {
    ...mapStores(useFwStore) //accessible via this.fwStore
  },
  mounted() {
    console.log('list-table mounted');
  },
  methods: {
    fieldValueByName(row, field_name) {
      //return value by field_name in row associative array
      //add here any additional processing if needed
      return row[field_name];
    },
  }
});
</script>
