<script type="text/x-template" id="list-cell-select">
 <div>
      <select class="form-select"
        v-model="row[col.field_name]"
        :required="col.required"
        :readonly="col.readonly"
        :disabled="col.disabled"
        @focus="onFocus"
        @blur="$emit('blur', $event)"
      >
        <option></option>
        <option v-for="lrow in options"
            :key="col.field_name+'#'+lrow.id"
            :value="lrow.id"
        >{{lrow.iname}}</option>
      </select>
  </div>
</script>

<script type="module">
fwApp.component('list-cell-select', {
  template: '#list-cell-select',
  props: ['row', 'col', 'options'],
  emits: ['focus', 'blur'],
  data: () => ({
    initial_value: '', //value before change
  }),
  mounted(){
  },
  updated(){
  },
  methods: {
    onFocus(e){
      this.initial_value = this.row[this.col.field_name];
      this.$emit('focus', e);
    },
  }
});
</script>
