<script type="text/x-template" id="list-filters-template">
 <div>
  <form class="fw-card" data-list-filter @submit.prevent @change="fwStore.loadIndexDebounced">
    <div class="row form-row">
      <label class="col-form-label col-md-2 col-xl-1" for="fs">`Search`</label>
      <div class="col">
        <div class="input-group">
          <input type="text" maxlength="255" class="form-control"
            :placeholder="s_placeholder"
            v-model="fwStore.f.s">
          <button class="btn btn-outline-secondary w100"
            @click="fwStore.loadIndexDebounced"><~/common/icons/search></button>
          <a class="btn btn-outline-secondary w100 on-filter-reset"
            :href="'?dofilter=1'+(fwStore.related_id ? '&related_id='+fwStore.related_id : '')" >`Reset`</a>
        </div>
      </div>
      <~list_filter_search_moreTODO>
    </div>

    <~list_filter_moreTODO>

    <div class="row form-row">
      <label class="col-form-label col-md-2 col-xl-1" for="fstatus">`Status`</label>
      <div class="col-md-3 col-lg-2">
        <select class="form-select" v-model="fwStore.f.status">
          <option v-for="option in lookup_statusf" :value="option.id" :selected="option.id==fwStore.f.status">{{option.iname}}</option>
        </select>
      </div>

      <template v-if="fwStore.is_userlists">
        <label class="col-form-label col-md-2 col-xl-1" for="fuserlist">`My List`</label>
        <div class="col-md-3 col-lg-2">
          <select id="fuserlist" name="f[userlist]" class="form-select">
            <option value="" :selected="!fwStore.f.userlist">`- all -`</option>
            <option v-for="option in fwStore.select_userlists" :value="option.id" :selected="option.id==fwStore.f.userlist">{{option.iname}}</option>
          </select>
        </div>
      </template>

      <div class="col text-end d-print-none">
        <div class="btn-group">
          <a class="btn btn-outline-secondary" :href="urlExport('csv')"><~/common/icons/cloud-download> `Export`</a>
          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="visually-hidden">`Toggle Dropdown`</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" title="Export to Excel" :href="urlExport('xls')">
              <~/common/icons/cloud-download-fill> `Export as .xls`
            </a>
          </div>
        </div>
      </div>

    </div>
  </form>

 </div>
</script>

<script type="module">
import { mapStores } from 'pinia';

fwApp.component('list-filters', {
  template: '#list-filters-template',
  props: ['s_placeholder'],
  data: () => ({
        zzz: ''
  }),
  computed: {
        ...mapStores(useFwStore), //accessible via this.fwStore
        lookup_statusf() {
          return this.fwStore.access_level<100 ? this.fwStore.lookups.statusf : this.fwStore.lookups.statusf_admin;
        },
  },
  mounted() {
        console.log('list-filters mounted');
  },
  methods: {
      urlExport(type) {
          let req = this.fwStore.listRequestQuery;
          req.export = type;
          //convert req object to query string - TODO move to utils
          let query = Object.keys(req).map(key => encodeURIComponent(key) + '=' + encodeURIComponent(req[key])).join('&');
          return this.fwStore.base_url + '?' + query;
      }
  }
});
</script>
