<script type="text/x-template" id="list-table-template">
 <div>
  <form class="fw-card" action="<~../url>" method="post">
    <input type="hidden" name="XSS" value="<~SESSION[XSS]>">
    <input type="hidden" name="_method" value="PUT">
    <~/common/form/relid>

    <div class="table-list-wrapper">
      <div class="table-list-hscroll-hint"><~/common/icons/info-circle-fill> use <kbd>Shift+Mouse Wheel</kbd> for an easy horizontal scrolling
      </div>
      <table class="table table-stripedX table-hover list <~user_view[density] default="table-sm">">
        <~/common/list/thead>
        <~/common/list/tbody>
      </table>
    </div>

    <div class="text-center py-4" v-if="!fwStore.list_rows">
      <h3><~/common/icons/0-square> `No results`</h3>
      Try to <a href="<~/common/list/reset_filter_relid>">reset</a> all filters.
    </div>

    <div v-if="fwStore.list_rows">
      <div class="float-md-end pt-2 mb-3 d-print-none">
        <span class="badge"></span><br>
        <div class="d-flex justify-content-md-end">
          <~/common/list/pagination>
        </div>
      </div>

      <~/common/list/btn_multidel>
    </div>

  </form>

  <hr class="d-print-none">
  <form id="FOneDelete" action="<~../url>/%id%?XSS=<~SESSION[XSS]>" method="post" class="d-none">
  </form>

 </div>
</script>

<script type="module">
import { mapStores } from 'pinia';

fwApp.component('list-table', {
  template: '#list-table-template',
  props: [],
  state: () => ({
    zzz: ''
  }),
  computed: {
    ...mapStores(useFwStore) //accessible via this.fwStore
  }
});
</script>
