<script type="text/x-template" id="list-table-template">
 <div>
  <form class="fw-card" @submit.prevent>
    <input type="hidden" name="_method" value="PUT">

    <div :class="'table-list-wrapper ' + fwStore.user_view.density">
      <div class="table-list-hscroll-hint"><~/common/icons/info-circle-fill> use <kbd>Shift+Mouse Wheel</kbd> for an easy horizontal scrolling
      </div>
      <table :class="'table table-stripedX table-hover list ' + fwStore.user_view.density">
        <thead>
            <tr>
              <~/common/list/th_chkall>

              <!--TODO make common component for these buttons-->
              <th class="fw-normal text-nowrap d-print-none" v-if="fwStore.global.is_list_btn_left">
                <a href="#" class="px-1 me-1" title="`Filter Columns`" @click="onToggleSearch"><~/common/icons/funnel></a>
                <a href="#" class="px-1 me-1" title="`Customize Columns`" @click="onCustomCols"><~/common/icons/table></a>
                <a href="#" class="px-1" title="`Density`" @click="onToggleDensity"><~/common/icons/grid-3x2-gap></a>
              </th>

              <template v-for="header in fwStore.headers">
                <th :class="'rotate'+(header.is_sortable && fwStore.f.sortby==header.field_name ? ' active-sort' : '')"
                  :data-sort="header.is_sortable"
                  @click="(event) => onSortHeader(event, header)">
                  <div>
                    <span>{{header.field_name_visible}}</span>
                    <span class="ms-1" v-if="header.is_sortable && fwStore.f.sortby==header.field_name">
                      <template v-if="fwStore.f.sortdir=='desc'">
                        <!-- desc icon -->
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/></svg>
                      </template>
                      <template v-else>
                        <!-- asc icon -->
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/></svg>
                      </template>
                    </span>
                  </div>
                </th>
              </template>

              <!--TODO make common component for these buttons-->
              <th class="fw-normal text-nowrap d-print-none text-end" v-if="!fwStore.global.is_list_btn_left">
                <a href="#" class="px-1 me-1" title="`Filter Columns`" @click="onToggleSearch"><~/common/icons/funnel></a>
                <a href="#" class="px-1 me-1" title="`Customize Columns`" @click="onCustomCols"><~/common/icons/table></a>
                <a href="#" class="px-1" title="`Density`" @click="onToggleDensity"><~/common/icons/grid-3x2-gap></a>
              </th>

            </tr>
            <tr class="search" :style="fwStore.is_list_search_open ? 'display: table-row' : ''">
              <th></th>
              <th v-if="fwStore.global.is_list_btn_left"></th>
              <th v-for="header in fwStore.headers">
                <input type="text" class="form-control form-control-sm"
                  v-model="header.search_value"
                  @change="fwStore.loadIndexDebounced"
                  @keyup.enter.stop="fwStore.loadIndexDebounced">
              </th>
              <th v-if="!fwStore.global.is_list_btn_left"></th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
          <template v-for="row in fwStore.list_rows" :key="row[fwStore.field_id]">
            <tr data-url="<~row_click_url>"
                :data-id="row[fwStore.field_id]"
                :title="row_title"
                :class="fwStore.hchecked_rows[row[fwStore.field_id]] ? 'selected' : ''"
                @click="(event) => onClickRow(event,row)">

                <td><input class="multicb" type="checkbox" v-model="fwStore.hchecked_rows[row[fwStore.field_id]]"></td>
                <!--TODO make common component for row btn-->
                <td :class="'text-nowrap d-print-none '+(fwStore.global.is_list_btn_left?'':'text-end')" v-if="fwStore.global.is_list_btn_left">
                  <a href="<~../url>/<~id><~/common/list/relid>">`View`</a>
                  <~/common/dot><a href="<~row_click_url>">`Edit`</a>
                  <~/common/dot> <a href="<~../url>/<~id>/delete<~/common/list/relid>"
                                    class="text-danger on-delete-list-row"
                                    :disabled="fwStore.is_readonly"><~/common/icons/x></a>
                </td>

                <template v-for="(header, key) in fwStore.headers" :key="key">
                  <td>{{fieldValueByName(row, header.field_name)}}</td>
                </template>

                <!--TODO make common component for row btn-->
                <td :class="'text-nowrap d-print-none '+(fwStore.global.is_list_btn_left?'':'text-end')" v-if="!fwStore.global.is_list_btn_left">
                  <a href="<~../url>/<~id><~/common/list/relid>">`View`</a>
                  <~/common/dot><a href="<~row_click_url>">`Edit`</a>
                  <~/common/dot> <a href="<~../url>/<~id>/delete<~/common/list/relid>"
                                    class="text-danger on-delete-list-row"
                                    :disabled="fwStore.is_readonly"><~/common/icons/x></a>
                </td>
            </tr>
          </template>
        </tbody>

      </table>
    </div>

    <div class="text-center py-4" v-if="!fwStore.list_rows.length">
      <h3><~/common/icons/0-square> `No results`</h3>
      Try to <a :href="'?dofilter=1'+(fwStore.related_id ? '&related_id='+fwStore.related_id : '')">reset</a> all filters.
    </div>

    <template v-if="fwStore.list_rows.length">
      <div class="float-md-end pt-2 mb-3 d-print-none">
        <span class="badge"></span><br>
        <div class="d-flex justify-content-md-end">
          <list-pagination
            :pager="fwStore.pager"
            :pagesize="fwStore.f.pagesize"
            @on-page="(ev) => fwStore.setFilters({pagenum:ev})"
            @on-pagesize="(ev) => fwStore.setFilters({pagesize:ev})"></list-pagination>
        </div>
      </div>

      <!-- TODO make as a separate extenable component -->
      <div id="list-btn-multi" :class="'mb-3 d-print-none '+(fwStore.countCheckedRows ? 'position-sticky' : '')">
        `with <span class="badge bg-secondary rows-num" v-if="fwStore.countCheckedRows">{{fwStore.countCheckedRows}}</span> checked rows:`<br>
        <input type="submit" name="delete" value="`Delete`" class="btn btn-danger on-delete-multi" <~/common/disabled if="is_readonly">>
        <~/common/list/btn_userlists if="is_userlists">
        <~btn_multidel_more>
      </div>
    </template>

  </form>

  <hr class="d-print-none">
  <form id="FOneDelete" action="<~../url>/%id%?XSS=<~SESSION[XSS]>" method="post" class="d-none">
  </form>

 </div>
</script>

<script type="module">
import { mapStores } from 'pinia';

fwApp.component('list-table', {
  template: '#list-table-template',
  props: [],
  data: () => ({
        row_title: 'Double click to Edit'
  }),
  computed: {
        ...mapStores(useFwStore) //accessible via this.fwStore
  },
  mounted() {
        console.log('list-table mounted');
  },
  methods: {
    fieldValueByName(row, field_name) {
        //return value by field_name in row associative array
        //add here any additional processing if needed
        return row[field_name];
    },
    onToggleSearch(e){
        this.fwStore.is_list_search_open = !this.fwStore.is_list_search_open;
        if (this.fwStore.is_list_search_open){
            //show search hints
            Toast("WORD to search for contains word<br>"+
                "!WORD to search for NOT contains word<br>"+
                "=WORD to search for equals word<br>"+
                "!=WORD to search for NOT equals word<br>"+
                "&lt;=N, &lt;N, &gt;=N, &gt;N - compare numbers",
                {header: 'Search hints', theme: 'text-bg-info', html:true, autohide: false});
        }
    },
    onCustomCols(e){
        console.log("TODO onCustomCols", e);
    },
    onToggleDensity(e){
        const classes = ['table-sm', 'table-dense', 'table-normal'];
        const current_density = this.fwStore.user_view.density;
        //get next density class
        const next_density = classes[(classes.indexOf(current_density) + 1) % classes.length];

        this.fwStore.setListDensity(next_density);
    },
    onSortHeader(e, header) {
        if (!header.is_sortable) return;

        let new_sortdir = 'asc'; //default sort
        if (this.fwStore.f.sortby == header.field_name) {
            //active column - change sort dir
            new_sortdir = this.fwStore.f.sortdir == 'asc' ? 'desc' : 'asc';
        }

        this.fwStore.setFilters({sortby: header.field_name, sortdir: new_sortdir});
    },
    //click on row - select/unselect row
    onClickRow(e, row){
      console.log('onClickRow',e);
      var tag_name = e.target.tagName.toLowerCase();
      if (tag_name === 'a'||tag_name === 'button'){
        return; // do not process if link/button clicked
      }

      const row_id = row[this.fwStore.field_id];
      this.fwStore.hchecked_rows[row_id] = !this.fwStore.hchecked_rows[row_id];
    }

  }
});
</script>
