<section class="text-center my-4 mx-auto" style="max-width:42rem" aria-labelledby="error-title">
    <h1 id="error-title">`Something went wrong`</h1>
    <p class="lead">`The server could not complete your request. Try again later. If the problem continues, contact site support.`</p>
    <~/error/message>
</section>

<~dump if="is_dump" inline>
<div class="text-start">
    <h3>Debug info</h3>
    <div class="dropinfo">
        <a href="#" class="on-dropinfo"><strong>Last SQL:</strong> <~/common/icons/caret-up><~/common/icons/caret-down></a>
        <pre class="alert alert-info" style="white-space: pre-wrap;word-wrap:break-word"><~DUMP_SQL></pre>
    </div>
    <div class="dropinfo">
        <a href="#" class="on-dropinfo"><strong>Stack trace:</strong> <~/common/icons/caret-up><~/common/icons/caret-down></a>
        <pre class="alert alert-info"><~DUMP_STACK></pre>
    </div>

    <div class="dropinfo">
        <a href="#" class="on-dropinfo"><strong>Form:</strong> <~/common/icons/caret-up><~/common/icons/caret-down></a>
        <pre class="alert alert-info"><~DUMP_FORM></pre>
    </div>

    <div class="dropinfo">
        <a href="#" class="on-dropinfo"><strong>Session:</strong> <~/common/icons/caret-up><~/common/icons/caret-down></a>
        <pre class="alert alert-info"><~DUMP_SESSION></pre>
    </div>
</div>
</~dump>
