<div class="col-auto ms-auto d-print-none">
  <div class="btn-toolbar justify-content-end" role="toolbar">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-secondary on-toggle-search" title="`Filter Columns`"><i class="bi bi-funnel"></i></button>
      <~ccols if="SESSION[user_id]" inline><button type="button" class="btn btn-outline-secondary on-custom-cols" title="`Customize Columns`"><i class="bi bi-table"></i></button></~ccols>
      <button type="button" class="btn btn-outline-secondary on-toggle-density" title="`Density`"><i class="bi bi-grid-3x2-gap"></i></button>
    </div>
  </div>
</div>
