<div class="col-auto ms-auto d-print-none">
  <div class="btn-toolbar justify-content-end" role="toolbar">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-secondary on-toggle-search" title="`Filter Columns`"><~/common/icons/funnel></button>
      <~ccols if="SESSION[user_id]" inline><button type="button" class="btn btn-outline-secondary on-custom-cols" title="`Customize Columns`"><~/common/icons/table></button></~ccols>
      <button type="button" class="btn btn-outline-secondary on-toggle-density" title="`Density`"><~/common/icons/grid-3x2-gap></button>
    </div>
  </div>
</div>
