<form class="fw-card" method="GET" id="FFilter" name="FFilter" data-autosubmit data-list-filter>
  <input type="hidden" name="dofilter" value="1">
  <input type="hidden" name="f[pagesize]" value="<~f[pagesize]>">
  <input type="hidden" name="f[sortby]" value="<~f[sortby]>">
  <input type="hidden" name="f[sortdir]" value="<~f[sortdir]>">
  <~/common/form/relid>
  <~list_filter_inputs>

  <div class="row g-2 align-items-center d-print-none">
    <div class="col-auto">
      <div class="btn-group">
        <a class="btn btn-default" href="<~../url>/new<~/common/list/relidq>" <~/common/disabled if="is_readonly">><i class="bi bi-plus-lg"></i> `Add New`</a>
        <~btn_std_more>
      </div>
    </div>

    <~/common/list/fsearch>
    <~list_filter_more>
  </div>

  <~more_rows if="list_filter_more_rows" inline>
    <div class="row g-2 align-items-center d-print-none">
      <~list_filter_more_rows>
    </div>
  </~more_rows>
</form>
