<thead>
    <tr data-sortby="<~f[sortby]>" data-sortdir="<~f[sortdir]>">
        <~/common/list/th_chkall>            
        <~headers repeat inline>
            <th <~dsort if="is_sortable" inline>data-sort="<~field_name>"</~dsort>><~field_name_visible></th>
        </~headers>
        <~/common/list/th_filter_customize>
    </tr>
    <tr class="search <~search_show ifeq="f[is_search]" value="1" inline>table-row</~search_show>">
        <th></th>
        <~headers_search repeat inline>
            <th><input type="text" name="search[<~field_name>]" value="<~search_value>" class="form-control form-control-sm"></th>
        </~headers_search>
        <th></th>
    </tr>
</thead>
