<h1><~title></h1>

<a href="<~../url>" class="btn btn-default"><i class="arrow-left"></i>Back to Assistant</a>

<p class="text-body-secondary">
  <b>Prompt:</b> <~user_prompt nl2br>
</p>

<p class="text-body-secondary">
  <b>Explanation:</b> <~llm_explanation nl2br>
</p>

<div class="fw-card">
<table class="table table-sm table-bordered table-hover">
    <thead>
        <tr>
            <~headers repeat inline>
                <th><~field_name></th>
            </~headers>
        </tr>
    </thead>
    <tbody>
        <~rows repeat inline>
        <tr>
            <~cols repeat inline><td><~data var></td></~cols>
        </tr>
        </~rows>
    </tbody>
</table>
</div>