<script type="text/x-template" id="edit-header-template">
  <div class="float-end pt-1 d-print-none">
    <a href="<~../url>/(Next)/<~id>?prev=1<~/common/form/ret_url>" class="btn btn-link"><~/common/icons/arrow-left-circle> `Prev`</a>
    <a href="<~../url>/(Next)/<~id>?<~/common/form/ret_url>" class="btn btn-link">`Next` <~/common/icons/arrow-right-circle></a>
  </div>

  <nav class="d-print-none">
    <a href="#" @click.prevent="fwStore.openListScreen">{{fwStore.list_title}}</a> <span class="text-muted">/</span>
  </nav>
  <h1 v-if="!fwStore.edit_data?.id">{{fwStore.add_new_title}}</h1>
  <h1 v-if="fwStore.edit_data?.id">{{fwStore.edit_title}}</h1>

  <div v-if="save_result" class="form-saved-status float-end mt-1 me-2">
    <span v-if="save_result.success" class="badge bg-success">saved</span>
    <span v-if="!save_result.success" class="badge bg-danger">not saved</span>
  </div>

  <div class="btn-std d-print-none">
   <div class="btn-group" v-if="!disableAddNew || $slots.group || fwStore.return_url">
      <a v-if="fwStore.return_url"
        class="btn btn-default"
        :href="fwStore.return_url"
      ><~/common/icons/arrow-left-circle> `Return Back`</a>
      <a v-if="!disableAddNew"
        class="btn btn-default"
        href="#"
        @click.prevent="onAddNew"
        :disabled="fwStore.is_readonly"
      ><~/common/icons/plusb> `Add New`</a>
      <a v-if="fwStore.edit_data?.id"
        class="btn btn-default"
        href="#"
        @click.prevent="onView"
      ><~/common/icons/eye> `View`</a>
      <slot name="group"></slot>
   </div>
   <slot></slot>
  </div>

</script>

<script type="module">
import { mapStores } from 'pinia';

fwApp.component('edit-header', {
  template: '#edit-header-template',
  props: {
    disableAddNew: {
      type: Boolean,
      default: false
    },
  },
  data: () => ({
  }),
  computed: {
    ...mapStores(useFwStore), //accessible via this.fwStore
    save_result() {
      return this.fwStore.edit_data?.save_result;
    },
  },
  methods: {
    onAddNew(e){
      this.fwStore.openEditScreen(0);
    },
    onView(e){
      this.fwStore.openViewScreen(this.fwStore.edit_data?.id);
    }
  }
});
</script>
