<script type="text/x-template" id="form-one-control-template">
    <p v-if="def.type=='id'" class="form-control-plaintext">
        {{value}}
        <template v-if="!value">
            (`new`)
        </template>
    </p>

    <p v-else-if="def.type=='plaintext'" class="form-control-plaintext" style="white-space: pre-line">
        {{def.lookup_model ? lookupValue : value}}
    </p>
    <p v-else-if="def.type=='plaintext_link'" class="form-control-plaintext">
        <a :href="(def.admin_url ? def.admin_url : '/Admin/'+def.lookup_model)+'/'+value">
            {{lookupValue}}
            <template v-if="!lookupValue">
                {{value}}
            </template>
        </a>
    </p>
    <p v-else-if="def.type=='plaintext_autocomplete'" class="form-control-plaintext" style="white-space: pre-line">
        <template v-if="def.lookup_by_value">
            {{item[def.field]??'-'}}
        </template>
        <template v-else>
            {{item[def.field+'_iname']??'-'}}
        </template>
    </p>
    <div v-else-if="def.type=='markdown'" class="form-control-plaintext" v-html="renderMarkdown(value)"></div>
    <p v-else-if="def.type=='noescape'" class="form-control-plaintext" v-html="value"></p>
    <p v-else-if="def.type=='float'" class="form-control-plaintext">{{Number(value).toFixed(2)}}</p>
    <p v-else-if="def.type=='plaintext_currency'" class="form-control-plaintext">
        {{ currencySymbol }}{{ formatCurrency(value) }}
    </p>
    <div v-else-if="def.type=='checkbox'" class="form-check">
        <input type="checkbox" class="form-check-input" :checked="value" disabled="disabled">
        <label class="form-check-label">`Yes`</label>
    </div>
    <p v-else-if="def.type=='date'" class="form-control-plaintext">{{fwStore.formatDate(value)}}</p>
    <p v-else-if="def.type=='date_long'" class="form-control-plaintext">{{fwStore.formatDateTime(value)}}</p>
    <p v-else-if="def.type=='added'" class="form-control-plaintext">{{fwStore.formatDateTime(item.add_time)}} by {{form.add_users_id_name}}</p>
    <p v-else-if="def.type=='updated'" class="form-control-plaintext">
        <template v-if="form.upd_users_id_name">
            {{fwStore.formatDateTime(item.upd_time)}} by {{form.upd_users_id_name}}
        </template>
    </p>
    <template v-else-if="def.type=='multi'">
        <div :class="'field-multi-value'+(def.lookup_checked_only?'h-auto':'')">
            <div v-for="row in multi_rows" :key="row.id" class="form-check">
                <input type="checkbox" class="form-check-input" disabled :checked="row.is_checked">
                <label class="form-check-label">{{row.iname}}</label>
            </div>
        </div>
        <form-control-help-block :text="def.help_text" />
    </template>
    <template v-else-if="def.type=='att'">
        <div v-if="value>0" class="card text-center att-info">
            <img :src="attachments[value]?.url_preview??''">
            <div class="card-body">
                <p class="card-text att-iname">{{attachments[value]?.iname??''}}</p>
                <a :href="attachments[value]?.url??''" target="_blank" class="btn btn-default"><i class="bi bi-cloud-download-fill"></i> `Download`</a>
            </div>
        </div>
        <div v-else class="fw-empty-state text-center mx-auto py-2">`No attachment selected`</div>
    </template>
    <template v-else-if="def.type=='att_edit'">
        <div class="row">
            <div class="col-3 col-lg-5">
                <p><button type="button" class="btn btn-default" @click="is_att_select_modal=true"><i class="bi bi-file-earmark-image"></i> `Select/Upload`</button></p>
                <att-select v-if="is_att_select_modal"
                            :category="def.att_category"
                            @hidden="is_att_select_modal=false"
                            @selected="onAttSelected"></att-select>
            </div>
            <div class="col">
                <div v-if="value>0" class="card text-center att-info">
                    <img class="card-img-top" :src="attachments[value]?.url_preview??''" alt="">
                    <div class="card-body text-truncate">
                        <p class="card-text att-iname">{{attachments[value]?.iname??''}}</p>
                        <a :href="attachments[value]?.url??''" target="_blank" class="btn btn-default" title="`Download`"><i class="bi bi-cloud-download-fill"></i></a>
                        <button type="button" class="btn btn-default ms-1" @click="this.value=''" title="`Remove`"><i class="bi bi-x-circle-fill"></i></button>
                    </div>
                </div>
                <div v-else class="fw-empty-state text-center mx-auto py-2">`No attachment selected`</div>
            </div>
        </div>
    </template>
    <template v-else-if="def.type=='att_links'">
        <div class="row att-list">
            <div v-for="att_id in att_links" :key="att_id" class="col">
                <div class="card att-info">
                    <img class="card-img-top" :src="attachments[att_id]?.url_preview??''" alt="">
                    <div class="card-body text-truncate">
                        <p class="card-text att-iname">{{attachments[att_id]?.iname??''}}</p>
                        <a :href="attachments[att_id]?.url??''" target="_blank" class="btn btn-default"><i class="bi bi-cloud-download-fill"></i> `Download`</a>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!att_links.length" class="fw-empty-state text-center mx-auto py-2">`No attachments selected`</div>
    </template>
    <template v-else-if="def.type=='att_links_edit'">
        <p><button type="button" class="btn btn-default" @click="is_att_select_modal=true"><i class="bi bi-file-earmark-image"></i> `Select/Upload`</button></p>
        <att-select v-if="is_att_select_modal"
                    :category="def.att_category"
                    @hidden="is_att_select_modal=false"
                    @selected="onAttLinkSelected"></att-select>

        <div class="row att-list">
            <div v-for="att_id in att_links" :key="att_id" class="col">
                <div class="card att-info">
                    <img class="card-img-top" :src="attachments[att_id]?.url_preview??''" alt="">
                    <div class="card-body text-truncate">
                        <p class="card-text att-iname">{{attachments[att_id]?.iname??''}}</p>
                        <a :href="attachments[att_id]?.url??''" target="_blank" class="btn btn-default"><i class="bi bi-cloud-download-fill"></i></a>
                        <button type="button" class="btn btn-default ms-1" @click="onAttLinkDelete(att_id)" title="`Remove`"><i class="bi bi-x-circle-fill"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!att_links.length" class="fw-empty-state text-center mx-auto py-2">`No attachments selected`</div>
    </template>

    <template v-else-if="def.type=='att_files'">
        <div class="att-list mt-2">
            <div v-for="att_id in att_files" :key="'afile-'+att_id" class="att-item d-flex align-items-center">
                &nbsp;&#183;&nbsp;<span class="text-truncate"><a :href="attachments[att_id]?.url??'#'" target="_blank">{{attachments[att_id]?.iname??att_id}}</a> <span class="text-muted ms-2">({{bytes2str(attachments[att_id]?.fsize??0)}})</span></span>
            </div>
        </div>
        <div v-if="!att_files.length" class="fw-empty-state text-center mx-auto py-2">`No files uploaded`</div>
    </template>

    <template v-else-if="def.type=='att_files_edit'">
        <div :class="['fw-file-drop-area', { highlight: is_dragover }]"
             @dragenter.prevent.stop="onDropEnter"
             @dragover.prevent.stop="onDropOver"
             @dragleave.prevent.stop="onDropLeave"
             @drop.prevent.stop="onDrop">
            <button type="button" class="btn" @click="onChooseFiles"><i class="bi bi-cloud-upload"></i> Choose files or drag and drop your files here</button>
            <input ref="fileInput" class="d-none" data-noautosave type="file" name="file" :multiple="def.multiple" @change="onAttFilesInputChange">
        </div>

        <div class="att-list mt-3">
            <!-- uploading items with progress -->
            <div v-for="(up, idx) in uploading_files" :key="'afile-up-'+idx" class="att-item d-flex align-items-center">
                &nbsp;&#183;&nbsp;<span class="text-truncate"><span class="att-iname">{{up.name}}</span> <span class="att-size text-muted ms-2">({{bytes2str(up.size||0)}})</span></span>
                <div class="progress flex-grow-1 mx-2"><div class="progress-bar progress-bar-striped progress-bar-animated" :style="{width: (up.progress||0) + '%'}"></div></div>
            </div>

            <!-- existing uploaded files -->
            <div v-for="att_id in att_files" :key="'afile-edit-'+att_id" class="att-item d-flex align-items-center">
                <!-- hidden input to persist selected file on autosave/submit -->
                <input type="hidden" class="att-post-prefix" :name="att_post_prefix+'['+att_id+']'" value="1">
                &nbsp;&#183;&nbsp;<span class="text-truncate"><a :href="attachments[att_id]?.url??'#'" target="_blank" class="att-iname">{{attachments[att_id]?.iname??att_id}}</a> <span class="att-size text-muted ms-2">({{bytes2str(attachments[att_id]?.fsize??0)}})</span></span>
                <button type="button" class="btn btn-sm btn-link text-danger on-remove-att" @click.prevent="onAttFileDelete(att_id)"><i class="bi bi-x-circle-fill"></i></button>
            </div>
        </div>
        <div v-if="!att_files.length && !uploading_files.length" class="fw-empty-state text-center mx-auto py-2">`No files uploaded`</div>
    </template>

    <template v-if="def.type=='currency'">
        <div class="input-group">
            <span class="input-group-text">{{ currencySymbol }}</span>
            <input class="form-control"
                   type="text"
                   v-model="value"
                   :class="class_control+(is_invalid?' is-invalid':'')"
                   :maxlength="def.maxlength"
                   :required="def.required"
                   :placeholder="def.placeholder"
                   @blur="onCurrencyBlur">
        </div>
        <form-control-help-block :text="def.help_text" />
    </template>

    <div v-else-if="def.type=='group_id' || def.type=='group_id_addnew'">
        <div class="float-end d-none d-lg-block">
            <template v-if="!item.id">
                <button type="submit" class="btn btn-primary">Save</button>
                <button v-if="def.type=='group_id_addnew'" type="submit" class="btn btn-secondary" name="route_return" value="New">Save and Add New</button>
                <button type="button" class="btn btn-default" @click="$emit('cancel-form')">Cancel</button>
            </template>
        </div>
        <p class="form-control-plaintext">
            <template v-if="value">
                {{value}}
            </template>
            <template v-if="!value">
                (`new`)
            </template>
        </p>
    </div>

    <template v-else-if="def.type=='select'">
        <select class="form-select"
                v-model="value"
                :class="class_control"
                :multiple="def.multiple"
                :required="def.required">
            <option v-if="def.is_option0" value="0">{{def.option0_title ?? '- select -'}}</option>
            <option v-if="def.is_option_empty" value="">{{def.option0_title ?? '- select -'}}</option>
            <option v-for="lrow in lookupOptions"
                    :key="def.field_name+'#'+lrow.id"
                    :value="lrow.id">
                {{lrow.iname}}
            </option>
        </select>
        <p class="err-EXISTS">{{def.err_exists_msg ? def.err_exists_msg : 'This name already exists in our database'}}</p>
        <form-control-help-block :text="def.help_text" />
    </template>

    <template v-else-if="['input','email','number','date_popup'].includes(def.type)">
        <input class="form-control"
               :type="inputType"
               v-model="value"
               :class="class_control+(is_invalid?' is-invalid':'')"
               :maxlength="def.maxlength"
               :required="def.required"
               :placeholder="inputPlaceholder"
               :min="def.min"
               :max="def.max"
               :step="def.step"
               :pattern="def.pattern">
        <p class="err-EXISTS">{{def.err_exists_msg ? def.err_exists_msg : 'This name already exists in our database'}}</p>
        <p class="err-EMAIL">`Invalid Email`</p>
        <p class="err-WRONG">`Invalid`</p>
        <form-control-help-block :text="def.help_text" />
    </template>

    <template v-else-if="def.type=='textarea'">
        <textarea class="form-control"
                  v-model="value"
                  :class="class_control"
                  :rows="def.rows"
                  :maxlength="def.maxlength"
                  :required="def.required"
                  :placeholder="def.placeholder">{{value}}</textarea>
        <form-control-help-block :text="def.help_text" />
    </template>

    <template v-else-if="def.type=='cb'">
        <div class="form-check form-check-inline">
            <input class="form-check-input"
                   :id="'list-edit-pane-cb-'+def.field"
                   type="checkbox"
                   v-model="value"
                   true-value="1"
                   false-value="0">
            <label class="form-check-label" :for="'list-edit-pane-cb-'+def.field">Yes</label>
        </div>
    </template>

    <template v-else-if="def.type=='radio'">
        <div v-for="(lrow, index) in lookupOptions"
             :key="lrow.id"
             class="form-check"
             :class="def.is_inline ? 'form-check-inline' : ''">
            <input type="radio" :id="'list-edit-pane-'+def.field+'$'+index" class="form-check-input" :value="lrow.id" v-model="value">
            <label class="form-check-label" :for="'list-edit-pane-'+def.field+'$'+index">{{lrow.iname}}</label>
        </div>
    </template>

    <template v-else-if="def.type=='yesno'">
        <div v-for="(lrow, index) in [{id:0, iname:'No'},{id:1, iname:'Yes'}]"
             :key="lrow.id"
             class="form-check"
             :class="def.is_inline ? 'form-check-inline' : ''">
            <input type="radio" :id="'list-edit-pane-'+def.field+'$'+index" class="form-check-input" :value="lrow.id" v-model="value">
            <label class="form-check-label" :for="'list-edit-pane-'+def.field+'$'+index">{{lrow.iname}}</label>
        </div>
    </template>

    <template v-else-if="def.type=='autocomplete'">
        <autocomplete v-model="value_autocomplete"
                      :placeholder="def.placeholder"
                      :url="def.autocomplete_url"
                      :required="def.required"
                      :readonly="def.readonly"
                      :pattern="def.pattern"
                      :class="class_control" />
        <form-control-help-block :text="def.help_text" />
    </template>

    <template v-else-if="def.type=='multicb'">
        <div class="field-multi-value">
            <input v-model="multi_search"
                   type="text" class="form-control form-control-sm mb-1" placeholder="type to filter...">
            <div v-for="row in multi_rows" :key="row.id"
                 class="form-check">
                <input type="checkbox"
                       v-model="row.is_checked"
                       class="form-check-input"
                       value="1"
                       :id="def.field+'$'+row.id">
                <label class="form-check-label" :for="def.field+'$'+row.id">{{row.iname}}</label>
            </div>
        </div>
        <form-control-help-block :text="def.help_text" />
    </template>

    <template v-else-if="def.type=='subtable' || def.type=='subtable_edit'">
        <component :is="'subtable_'+def.field" :def="def" :lookups="lookups" :form="form"></component>
        <form-control-help-block :text="def.help_text" />
    </template>

    <div v-if="is_invalid && !is_invalid_true" class="invalid-feedback">{{error_text}}</div>
</script>

<script type="module">
    import { mapStores } from 'pinia';
    import Multiselect from 'Multiselect';

    let md = null; // markdown-it instance

    fwApp.component('form-one-control', {
        template: '#form-one-control-template',
        props: {
            def: {
                type: Object,
                required: true
            },
            lookups: {
                type: Object,
                required: true
            },
            form: {
                type: Object,
                required: true
            }
        },
        emits: ['update-form-field', 'cancel-form'],
        components: {
            Multiselect
        },
        data: () => ({
            multi_search: '',
            is_att_select_modal: false,
            // drag&drop highlight state for att_files_edit
            is_dragover: false,
            // uploading items state for att_files_edit
            uploading_files: []
        }),
        computed: {
            ...mapStores(fwStore), //accessible via this.fwStore
            item: function () {
                return this.form.i; //this comes from fwStore.edit_data, so has .id
            },

            value: {
                get() {
                    return this.form.i[this.def.field];
                },
                set(new_value) {
                    this.$emit('update-form-field', { field: this.def.field, value: new_value });
                }
            },
            value_autocomplete: {
                get() {
                    if (this.def.lookup_by_value) {
                        return this.form.i[this.def.field];
                    } else {
                        return this.form.i[this.def.field + '_iname'];
                    }
                },
                set(new_value) {
                    if (this.def.lookup_by_value) {
                        this.$emit('update-form-field', { field: this.def.field, value: new_value });
                    } else {
                        this.$emit('update-form-field', { field: this.def.field + '_iname', value: new_value });
                    }
                }
            },
            multi_rows() {
                const rows = this.form.multi_rows?.[this.def.field] ?? [];
                if (this.multi_search > '') {
                    return rows.filter(row => row.iname.toLowerCase().includes(this.multi_search.toLowerCase()));
                } else {
                    return rows;
                }
            },
            attachments() {
                return this.form.attachments ?? {};
            },
            att_links() {
                return this.form.att_links ?? [];
            },
            att_files() {
                // per-field list of files
                return this.form.att_files?.[this.def.field] ?? [];
            },
            att_post_prefix() {
                return this.def.att_post_prefix || this.def.field;
            },

            error() {
                return this.form.save_result?.error?.details?.[this.def.field] ?? false;
            },
            error_text() {
                return window.fwConst.ERR_CODES_MAP[this.error];
            },
            is_invalid() {
                return !!this.error;
            },
            is_invalid_true() {
                return this.error === true;
            },
            class_control() {
                return (this.def.class_control ?? '') + (this.is_invalid ? ' is-invalid' : '');
            },
            inputType: function () {
                const TYPE_MAP = {
                    text: 'text',
                    email: 'email',
                    number: 'number',
                    date: 'date',
                    date_popup: 'date',
                    password: 'password',
                    textarea: 'text'
                };
                let type = this.def.type ?? 'text';
                return TYPE_MAP[type] ?? 'text';
            },
            inputPlaceholder() {
                if (this.def.placeholder) return this.def.placeholder;
                if (this.def.type === 'date_popup') {
                    // MDY -> mm/dd/yyyy, DMY -> dd/mm/yyyy
                    return this.fwStore._userLocale() === 'en-GB' ? 'dd/mm/yyyy' : 'mm/dd/yyyy';
                }
                if (this.def.type === 'datetime_popup') {
                    const date = this.fwStore._userLocale() === 'en-GB' ? 'dd/mm/yyyy' : 'mm/dd/yyyy';
                    const time = this.fwStore._is24h() ? 'HH:mm:ss' : 'h:mm:ss AM/PM';
                    return date + ' ' + time;
                }
                return this.def.placeholder ?? '';
            },
            lookupOptions: function () {
                var lookup_model = this.def.lookup_model;
                if (lookup_model) {
                    return this.lookups[lookup_model] ?? [];
                }
                var lookup_tpl = this.def.lookup_tpl;
                if (lookup_tpl) {
                    return this.lookups[lookup_tpl] ?? [];
                }
                return [];
            },
            lookupValue: function () {
                //return from lookupOptions an iname by id=value
                for (var i = 0; i < this.lookupOptions.length; i++) {
                    if (this.lookupOptions[i].id == this.value) {
                        return this.lookupOptions[i].iname;
                    }
                }
                return '';
            },
            currencySymbol() {
                // Use def.currency_symbol if provided, else default to "$"
                return this.def.currency_symbol || '$';
            }
        },
        mounted() {
            //console.log("form-one-control mounted", this.def);
        },
        methods: {
            async autocompleteOptions(query, select$) {
                let id = 0;
                if (query === null) {
                    //initial load - return preloaded name
                    return [this.item[this.def.field + '_iname'] ?? ''];
                }
                return await this.fwStore.autocompleteOptions(query, this.def.autocomplete_url, this.def.lookup_model, id);
            },
            onAttSelected(att) {
                //add to this.attachments[att.id] if not present
                if (!this.attachments[att.id]) {
                    this.attachments[att.id] = att;
                }
                this.value = att.id;
                this.fwStore.saveEditDataDebounced();
            },

            // att links
            onAttLinkSelected(att) {
                if (!this.attachments[att.id]) {
                    this.attachments[att.id] = att;
                }
                //add value to att_links if not present
                if (!this.form.att_links) this.form.att_links = [];
                if (!this.att_links.includes(att.id)) {
                    this.att_links.push(att.id);
                    this.fwStore.saveEditDataDebounced();
                }
            },
            onAttLinkDelete(att_id) {
                //remove from this.form.att_links, not this.att_links as it's computed
                if (!this.form.att_links) return;
                this.form.att_links = this.form.att_links.filter(id => id != att_id);
                this.fwStore.saveEditDataDebounced();
            },

            // att files
            onAttFileDelete(att_id) {
                if (!this.form.att_files) return;
                // per-field removal
                const field = this.def.field;
                if (!this.form.att_files[field]) return;
                this.form.att_files[field] = this.form.att_files[field].filter(id => id != att_id);
                this.fwStore.saveEditDataDebounced();
            },
            onChooseFiles() {
                const input = this.$refs.fileInput;
                if (input && typeof input.click === 'function') input.click();
            },
            async onAttFilesInputChange(e) {
                if (e && e.stopImmediatePropagation) e.stopImmediatePropagation();
                const files = e?.target?.files;
                if (!files || !files.length) return;
                await this.uploadFiles(files);
                if (e && e.target) e.target.value = '';
            },
            // drag & drop highlight handlers
            onDropEnter() { this.is_dragover = true; },
            onDropOver() { this.is_dragover = true; },
            onDropLeave() { this.is_dragover = false; },
            async onDrop(e) {
                this.is_dragover = false;
                const files = e.dataTransfer?.files;
                if (!files || !files.length) return;
                await this.uploadFiles(files);
            },
            async uploadFiles(files) {
                if (!this.item.id) { Toast('Save record first', { theme: 'text-bg-warning' }); return; }

                const upload_url = this.def.att_upload_url ?? this.fwStore.base_url + "/(SaveAttFiles)/" + this.item.id;
                // iterate files and upload with progress
                for (let i = 0; i < files.length; i++) {
                    const file = files[i];
                    const upItem = { name: file.name, size: file.size, progress: 0 };
                    this.uploading_files.push(upItem);

                    const fd = new FormData();
                    fd.append('file1', file);
                    fd.append('XSS', this.fwStore.XSS);
                    fd.append('item[att_category]', this.def.att_category ?? '');
                    //fd.append('item[fwentity]', this.fwStore.fwentity ?? '');
                    fd.append('item[item_id]', this.item.id);

                    try {
                        await new Promise((resolve) => {
                            const xhr = new XMLHttpRequest();
                            xhr.open('POST', upload_url, true);
                            xhr.setRequestHeader('Accept', 'application/json');
                            xhr.upload.onprogress = (evt) => {
                                if (evt.lengthComputable) {
                                    upItem.progress = Math.round((evt.loaded / evt.total) * 100);
                                }
                            };
                            xhr.onload = () => {
                                // remove from uploading list
                                const idx = this.uploading_files.indexOf(upItem);
                                if (idx !== -1) this.uploading_files.splice(idx, 1);

                                try {
                                    const data = JSON.parse(xhr.responseText || '{}');
                                    if (xhr.status >= 200 && xhr.status < 300 && data && !data.error && data.id) {
                                        //add to attachments map and att_files ids per field
                                        if (!this.form.attachments) this.form.attachments = {};
                                        this.form.attachments[data.id] = data;
                                        if (!this.form.att_files) this.form.att_files = {};
                                        if (!this.form.att_files[this.def.field]) this.form.att_files[this.def.field] = [];
                                        if (!this.form.att_files[this.def.field].includes(data.id)) this.form.att_files[this.def.field].push(data.id);
                                        this.fwStore.saveEditDataDebounced();
                                    } else {
                                        Toast(data?.error?.message || 'Upload failed', { theme: 'text-bg-danger' });
                                    }
                                } catch (err) {
                                    console.error(err);
                                    Toast('Upload failed', { theme: 'text-bg-danger' });
                                }
                                resolve();
                            };
                            xhr.onerror = () => {
                                const idx = this.uploading_files.indexOf(upItem);
                                if (idx !== -1) this.uploading_files.splice(idx, 1);
                                Toast('Upload failed', { theme: 'text-bg-danger' });
                                resolve();
                            };
                            xhr.send(fd);
                        });
                    } catch (err) {
                        const idx = this.uploading_files.indexOf(upItem);
                        if (idx !== -1) this.uploading_files.splice(idx, 1);
                        console.error(err);
                        Toast('Upload failed', { theme: 'text-bg-danger' });
                    }
                }
            },

            formatCurrency(val) {
                let num = Number(val);
                if (isNaN(num)) return val;
                return num.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
            },
            onCurrencyBlur(e) {
                // Optionally format value on blur
                let num = Number(this.value);
                if (!isNaN(num)) {
                    this.value = num.toFixed(2);
                }
            },
            bytes2str(bytes) {
                return AppUtils.bytes2str(bytes);
            },
            renderMarkdown(text) {
                if (!md && window.markdownit) {
                    const mdOptions = {
                        html: true,
                        breaks: true,
                        linkify: true
                    };
                    md = window.markdownit(mdOptions);
                    if (window.markdownitSub) md.use(window.markdownitSub);
                    if (window.markdownitSup) md.use(window.markdownitSup);
                    if (window.markdownitAbbr) md.use(window.markdownitAbbr);
                    if (window.markdownitIns) md.use(window.markdownitIns);
                    if (window.markdownitMark) md.use(window.markdownitMark);
                    if (window.markdownitContainer) {
                        md.use(window.markdownitContainer, 'foobar', {
                            validate: name => name.trim().length,
                            render: (tokens, idx) => {
                                if (tokens[idx].nesting === 1) {
                                    let class_name = tokens[idx].info.trim();
                                    if (tokens[idx].attrs) {
                                        let aclasses = tokens[idx].attrs.filter(el => el[0] == 'class');
                                        class_name += ' ' + aclasses.map(el => el[1]).join(' ');
                                    }
                                    return '<div class="' + class_name + '">';
                                } else {
                                    return '</div>';
                                }
                            }
                        });
                    }
                    if (window.markdownItAttrs) md.use(window.markdownItAttrs);
                    if (md.renderer && md.renderer.rules) {
                        md.renderer.rules.table_open = function () {
                            return '<table class="table">';
                        };
                    }
                }
                if (md) {
                    return md.render(text ?? '');
                } else {
                    return text;
                }
            }
        }
    });
</script>
