<script type="text/x-template" id="form-one-control-template">
  <p v-if="def.type=='id'" class="form-control-plaintext">{{value}}<template v-if="!value">(`new`)</template></p>

  <p v-else-if="def.type=='plaintext'" class="form-control-plaintext" style="white-space: pre-line">{{value}}</p>
  <p v-else-if="def.type=='plaintext_link'" class="form-control-plaintext">
    <a :href="def.admin_url ? def.admin_url : '/Admin/'+def.lookup_model+'/'+value">{{lookupValue}}<template if="!value">{{value}}</template></a>
  </p>
  <p v-else-if="def.type=='markdown'" class="form-control-plaintext" style="white-space: pre-line">{{value}} TODO markdown</p>
  <p v-else-if="def.type=='noescape'" class="form-control-plaintext" v-html="value"></p>
  <p v-else-if="def.type=='float'" class="form-control-plaintext">{{Number(value).toFixed(2)}}</p>
  <div v-else-if="def.type=='checkbox'" class="form-check">
    <input type="checkbox" class="form-check-input" :checked="value" disabled="disabled">
    <label class="form-check-label">`Yes`</label>
  </div>
  <p v-else-if="def.type=='date'" class="form-control-plaintext">{{formatDate(value)}}</p>
  <p v-else-if="def.type=='date_long'" class="form-control-plaintext">{{formatDateLong(value)}}</p>
  <p v-else-if="def.type=='added'" class="form-control-plaintext">{{item.add_time}} by {{form.add_users_id_name}}</p>
  <p v-else-if="def.type=='updated'" class="form-control-plaintext"><template v-if="form.upd_users_id_name">{{item.upd_time}} by {{form.upd_users_id_name}}</template></p>


  <div v-else-if="def.type=='group_id' || def.type=='group_id_addnew'">
    <div class="float-end d-none d-lg-block">
      <template v-if="!item.id">
        <button type="submit" class="btn btn-primary">Save</button>
        <button v-if="def.type=='group_id_addnew'" type="submit" class="btn btn-secondary" name="route_return" value="New">Save and Add New</button>
        <button type="button" class="btn btn-default" @click="$emit('cancel-form')">Cancel</button>
      </template>
    </div>
    <p class="form-control-plaintext">
      <template v-if="value">{{value}}</template>
      <template v-if="!value">(`new`)</template>
    </p>
  </div>

  <template v-else-if="def.type=='select'">
    <select class="form-select"
      v-model="value"
      :class="class_control"
      :multiple="def.multiple"
      :required="def.required"
    >
      <option v-if="def.is_option0" value="0">{{def.option0_title ?? '- select -'}}</option>
      <option v-if="def.is_option_empty" value="">{{def.option0_title ?? '- select -'}}</option>
      <option v-for="lrow in lookupOptions"
          :key="def.field_name+'#'+lrow.id"
          :value="lrow.id"
      >{{lrow.iname}}</option>
    </select>
    <p class="err-EXISTS">{{def.err_exists_msg ? def.err_exists_msg : 'This name already exists in our database'}}</p>
    <form-control-help-block :text="def.help_text" />
  </template>

  <template v-else-if="['input','email','number','date_popup'].includes(def.type)">
    <input class="form-control"
      :type="inputType"
      v-model="value"
      :class="class_control+(is_invalid?' is-invalid':'')"
      :maxlength="def.maxlength"
      :required="def.required"
      :placeholder="def.placeholder"
      :min="def.min"
      :max="def.max"
      :step="def.step"
      :pattern="def.pattern"
    >
    <p class="err-EXISTS">{{def.err_exists_msg ? def.err_exists_msg : 'This name already exists in our database'}}</p>
    <p class="err-EMAIL">`Invalid Email`</p>
    <p class="err-WRONG">`Invalid`</p>
    <form-control-help-block :text="def.help_text" />
  </template>

  <template v-else-if="def.type=='textarea'">
    <textarea class="form-control"
      v-model="value"
      :class="class_control"
      :rows="def.rows"
      :maxlength="def.maxlength"
      :required="def.required"
      :placeholder="def.placeholder"
    >{{value}}</textarea>
    <form-control-help-block :text="def.help_text" />
  </template>

  <template v-else-if="def.type=='cb'">
    <div class="form-check form-check-inline">
      <input class="form-check-input" :id="'list-edit-pane-cb-'+def.field"
        type="checkbox"
        v-model="value"
        true-value="1"
        false-value="0"
      >
      <label class="form-check-label" :for="'list-edit-pane-cb-'+def.field">Yes</label>
    </div>
  </template>

  <template v-else-if="def.type=='radio'">
    <div v-for="(lrow, index) in lookupOptions" :key="lrow.id"
      class="form-check"
      :class="def.is_inline ? 'form-check-inline' : ''"
    >
      <input type="radio" :id="'list-edit-pane-'+def.field+'$'+index" class="form-check-input" :value="lrow.id" v-model="value">
      <label class="form-check-label" :for="'list-edit-pane-'+def.field+'$'+index">{{lrow.iname}}</label>
    </div>
  </template>

  <template v-else-if="def.type=='yesno'">
    <div v-for="(lrow, index) in [{id:0, iname:'No'},{id:1, iname:'Yes'}]" :key="lrow.id"
      class="form-check"
      :class="def.is_inline ? 'form-check-inline' : ''"
    >
      <input type="radio" :id="'list-edit-pane-'+def.field+'$'+index" class="form-check-input" :value="lrow.id" v-model="value">
      <label class="form-check-label" :for="'list-edit-pane-'+def.field+'$'+index">{{lrow.iname}}</label>
    </div>
  </template>

  <div v-if="is_invalid && !is_invalid_true" class="invalid-feedback">{{error_text}}</div>
</script>

<script type="module">
fwApp.component('form-one-control', {
  template: '#form-one-control-template',
  props: ['def', 'lookups', 'form'],
  emits: ['update-form-field', 'cancel-form'],
  data: () => ({
  }),
  computed:{
    item: function(){
      return this.form.i;
    },
    value: {
      get() {
        return this.form.i[this.def.field];
      },
      set(new_value) {
        this.$emit('update-form-field', { field: this.def.field, value: new_value });
      }
    },
    error() {
      return this.form.save_result?.ERR?.[this.def.field] ?? false;
    },
    error_text() {
      return window.fwConst.ERR_CODES_MAP[this.error];
    },
    is_invalid() {
      return !!this.error;
    },
    is_invalid_true() {
      return this.error===true;
    },
    class_control() {
      return (this.def.class_control ?? '')+(this.is_invalid?' is-invalid':'');
    },
    inputType: function(){
      const TYPE_MAP={
        text: 'text',
        email: 'email',
        number: 'number',
        date: 'date',
        date_popup: 'date',
        password: 'password',
        textarea: 'text'
      };
      let type = this.def.type ?? 'text';
      return TYPE_MAP[type]??'text';
    },
    lookupOptions: function(){
      var lookup_model = this.def.lookup_model;
      if (lookup_model) {
          return this.lookups[lookup_model] ?? [];
      }
      var lookup_tpl = this.def.lookup_tpl;
      if (lookup_tpl) {
          return this.lookups[lookup_tpl] ?? [];
      }
      return [];
    },
    lookupValue: function () {
      //return from lookupOptions an iname by id=value
      for (var i = 0; i < this.lookupOptions.length; i++) {
        if (this.lookupOptions[i].id == this.value) {
            return this.lookupOptions[i].iname;
        }
      }
      return '';
    }
  },
  mounted(){
    //console.log("form-one-control mounted", this.def);
  },
  methods: {
    formatDate(str){
      //return date as MM/dd/yyyy
      return new Date(str).toLocaleDateString("en-US", { month: 'numeric', day: 'numeric', year: 'numeric' });
    },
    formatDateLong(str){
      //return date as MM/dd/yyyy hh:mm:ss
      return new Date(dateString).toLocaleDateString("en-US", { month: 'numeric', day: 'numeric', year: 'numeric' }) + " " + new Date(dateString).toLocaleTimeString("en-US", { hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit' });
    },
  }
});
</script>
