<script type="text/x-template" id="list-filters-template">
 <div>
  <form class="fw-card" data-list-filter @submit.prevent @change="fwStore.setFilters({})">
    <div class="row form-row">
      <label class="col-form-label col-md-2 col-xl-1" for="fs">`Search`</label>
      <div class="col">
        <div class="input-group">
          <input type="text" maxlength="255" class="form-control"
            :placeholder="s_placeholder"
            v-model="fwStore.f.s">
          <button class="btn btn-outline-secondary w100"
            @click="fwStore.loadIndexDebounced">
              <span v-if="fwStore.is_loading_index" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <template v-if="!fwStore.is_loading_index"><~/common/icons/search></template>
          </button>
          <a class="btn btn-outline-secondary w100 on-filter-reset"
            :href="'?dofilter=1'+(fwStore.related_id ? '&related_id='+fwStore.related_id : '')" >`Reset`</a>
        </div>
      </div>
      <slot name="search"></slot>
    </div>

    <slot></slot>

    <div class="row form-row">
      <label class="col-form-label col-md-2 col-xl-1" for="fstatus">`Status`</label>
      <div class="col-md-3 col-lg-2">
        <select class="form-select" v-model="fwStore.f.status">
          <option v-for="option in lookup_statusf" :value="option.id" :selected="option.id==fwStore.f.status">{{option.iname}}</option>
        </select>
      </div>

      <template v-if="fwStore.is_userlists">
        <label class="col-form-label col-md-2 col-xl-1" for="fuserlist">`My List`</label>
        <div class="col-md-3 col-lg-2">
          <select id="fuserlist" name="f[userlist]" class="form-select">
            <option value="" :selected="!fwStore.f.userlist">`- all -`</option>
            <option v-for="option in fwStore.select_userlists" :value="option.id" :selected="option.id==fwStore.f.userlist">{{option.iname}}</option>
          </select>
        </div>
      </template>

      <div class="col text-end d-print-none">
        <div class="btn-group me-2">
          <a class="btn btn-outline-secondary" :href="urlExport('csv')"><~/common/icons/cloud-download> `Export`</a>
          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="visually-hidden">`Toggle Dropdown`</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" title="Export to Excel" :href="urlExport('xls')">
              <~/common/icons/cloud-download-fill> `Export as .xls`
            </a>
          </div>
        </div>
        <div class="btn-group">
          <a href="#" class="btn btn-outline-secondary" title="`Filter Columns`" @click="onToggleSearch"><~/common/icons/funnel></a>
          <a href="#" class="btn btn-outline-secondary" title="`Customize Columns`" @click="onCustomCols"><~/common/icons/table></a>
          <a href="#" class="btn btn-outline-secondary" title="`Density`" @click="onToggleDensity"><~/common/icons/grid-3x2-gap></a>
          <a href="#" :class="'btn '+(fwStore.is_list_edit ? 'btn-info' : 'btn-outline-secondary')" title="`Toggle Edit`" @click="onToggleEdit"><~/common/icons/pencil-square></a>
        </div>
      </div>

    </div>
  </form>

 </div>
</script>

<script type="module">
import { mapStores } from 'pinia';

fwApp.component('list-filters', {
  template: '#list-filters-template',
  props: ['s_placeholder'],
  data: () => ({
        zzz: ''
  }),
  computed: {
        ...mapStores(useFwStore), //accessible via this.fwStore
        lookup_statusf() {
          return this.fwStore.access_level<100 ? this.fwStore.lookups_std.statusf : this.fwStore.lookups_std.statusf_admin;
        },
  },
  mounted() {
        console.log('list-filters mounted');
  },
  methods: {
      onToggleSearch(e){
          this.fwStore.is_list_search_open = !this.fwStore.is_list_search_open;
          if (this.fwStore.is_list_search_open){
              //show search hints
              Toast("WORD to search for contains word<br>"+
                  "!WORD to search for NOT contains word<br>"+
                  "=WORD to search for equals word<br>"+
                  "!=WORD to search for NOT equals word<br>"+
                  "&lt;=N, &lt;N, &gt;=N, &gt;N - compare numbers",
                  {header: 'Search hints', theme: 'text-bg-info', html:true, autohide: false});
          }
      },
      onCustomCols(e){
          console.log("TODO onCustomCols", e);
      },
      onToggleDensity(e){
          const classes = ['table-sm', 'table-dense', 'table-normal'];
          const current_density = this.fwStore.list_user_view.density;
          //get next density class
          const next_density = classes[(classes.indexOf(current_density) + 1) % classes.length];

          this.fwStore.setListDensity(next_density);
      },
      onToggleEdit(e){
        this.fwStore.is_list_edit = !this.fwStore.is_list_edit;
        this.fwStore.is_initial_load=true;
        this.fwStore.loadIndexDebounced();
      },

      urlExport(type) {
          let req = {...this.fwStore.listRequestQuery}; //{...} because of getters caching?
          req.export = type;
          //convert req object to query string - TODO move to utils
          let query = Object.keys(req).map(key => encodeURIComponent(key) + '=' + encodeURIComponent(req[key])).join('&');
          return this.fwStore.base_url + '?' + query;
      }
  }
});
</script>
