<script type="text/x-template" id="list-header-template">
 <div>
  <h1>{{fwStore.list_title}}
    <span v-if="!disableCount" class="badge badge-outline-secondary rounded-pill">{{fwStore.count}}</span>
  </h1>

  <div class="btn-std d-print-none">
   <div class="btn-group" v-if="!disableAddNew || $slots.group">
      <a v-if="!disableAddNew"
        class="btn btn-default"
        href="#"
        @click="onAddNew"
        :disabled="fwStore.is_readonly"
      ><~/common/icons/plusb> `Add New`</a>
      <slot name="group"></slot>
   </div>
   <slot></slot>
  </div>

 </div>
</script>

<script type="module">
import { mapStores } from 'pinia';

fwApp.component('list-header', {
  template: '#list-header-template',
  props: {
    disableAddNew: {
      type: Boolean,
      default: false
    },
    disableCount: {
      type: Boolean,
      default: false
    },
  },
  data: () => ({
  }),
  computed: {
    ...mapStores(useFwStore) //accessible via this.fwStore
  },
  methods: {
    onAddNew(e){
      console.log('TODO list-header onAddNew');
    }
  }
});
</script>
