<script type="text/x-template" id="list-table-header-template">
    <thead>
        <tr>
            <th class="d-print-none"><input type="checkbox" name="all" Xv-model="cb_check_all" v-model="checkedAll" @change="onCheckAll" /></th>
            <th v-if="uioptions.isButtonsLeft && uioptions.rowButtons !== false" class="d-print-none"></th>

            <template v-for="header in fwStore.list_headers" :key="header.field_name">
                <th :class="'rotate'+(header.is_sortable && fwStore.f.sortby==header.field_name ? ' active-sort' : '')"
                    :style="header.list_min_width ? 'min-width:'+header.list_min_width: null"
                    :data-sort="header.is_sortable"
                    @click="(event) => onSortHeader(event, header)">
                    <div>
                        <span>{{header.field_name_visible}}</span>
                        <span class="ms-1" v-if="header.is_sortable && fwStore.f.sortby==header.field_name">
                            <i v-if="fwStore.f.sortdir=='desc'" class="bi bi-arrow-up"></i>
                            <i v-else class="bi bi-arrow-down"></i>
                        </span>
                    </div>
                </th>
            </template>

            <th v-if="!uioptions.isButtonsLeft && uioptions.rowButtons !== false"></th>
        </tr>
        <tr class="search" :style="fwStore.is_list_search_open ? 'display: table-row' : ''">
            <th></th>
            <th v-if="uioptions.isButtonsLeft && uioptions.rowButtons!==false"></th>
            <th v-for="header in fwStore.list_headers" :key="header.field_name">
                <input type="text" class="form-control form-control-sm"
                       v-model="header.search_value"
                       :disabled="isCalculatedField(header.field_name)"
                       @change="fwStore.loadIndexDebounced"
                       @keyup.enter.stop="fwStore.loadIndexDebounced">
            </th>
            <th v-if="!uioptions.isButtonsLeft && uioptions.rowButtons!==false"></th>
        </tr>
    </thead>
</script>

<script type="module">
    import { mapStores } from 'pinia';

    fwApp.component('list-table-header', {
        template: '#list-table-header-template',
        props: {
        },
        data: () => ({
            cb_check_all: false
        }),
        computed: {
            ...mapStores(fwStore),
            uioptions() {
                return this.fwStore.uioptions.list.table ?? {};
            },
            checkedAll: {
                get: function () {
                    return this.fwStore.list_rows.length > 0 && this.fwStore.list_rows.length === Object.keys(this.fwStore.hchecked_rows).length;
                },
                set: function (val) {
                    this.cb_check_all = val;
                },
            },
            listCalculatedFields(){
                return Object.values(this.fwStore.list_calculated_fields ?? {});
            }
        },
        methods: {
            // Sorting handler
            onSortHeader(e, header) {
                if (!header.is_sortable) return;

                let new_sortdir = 'asc'; //default sort
                if (this.fwStore.f.sortby === header.field_name) {
                    //active column - change sort dir
                    new_sortdir = this.fwStore.f.sortdir === 'asc' ? 'desc' : 'asc';
                }

                this.resetCheckedRows();
                this.fwStore.setFilters({
                    sortby: header.field_name,
                    sortdir: new_sortdir
                });
            },
            //check all/none rows
            onCheckAll(e) {
                if (e.target.checked) {
                    // check all rows
                    this.fwStore.hchecked_rows = this.fwStore.list_rows.reduce((acc, row) => {
                        acc[row[this.fwStore.field_id]] = true;
                        return acc;
                    }, {});
                } else {
                    this.resetCheckedRows();
                }
            },
            resetCheckedRows() {
                this.fwStore.hchecked_rows = {};
            },
            isCalculatedField(fieldName) {
                return this.listCalculatedFields.includes(fieldName);
            }
        }
    });
</script>
