<script type="text/x-template" id="list-cell-checkbox-template">
  <div>
      <input class="form-check-input" type="checkbox"
        :id="'cell-'+row.id+'-'+col.field_name"
        v-model="row[col.field_name]"
        true-value="1"
        false-value="0"
        :disabled="col.disabled"
        @focus="onFocus"
        @blur="$emit('blur', $event)"
        @change="$emit('change', $event)"
        @keydown.up.prevent="onNavigate('up')"
        @keydown.down.prevent="onNavigate('down')"
        >
  </div>
</script>

<script type="module">
fwApp.component('list-cell-checkbox', {
  template: '#list-cell-checkbox-template',
  props: ['row', 'col'],
  emits: ['focus', 'blur', 'change', 'navigate'],
  data: () => ({
    initial_value: '', //value before change
  }),
  methods: {
    onFocus(e){
      this.initial_value = this.row[this.col.field_name];
      this.$emit('focus', e);
    },
    onNavigate(dir) {
      this.$emit('navigate', { dir, row: this.row, col: this.col });
    },
  }
});
</script>
