<script type="text/x-template" id="list-row-btn-template">
  <td class="list-row-controls text-nowrap d-print-none"
    :class="(is_left?'':'text-end')">
    <slot name="btn-prepend"></slot>

    <a v-if="buttons.view" href="#" @click.prevent="$emit('view', $event)">`View`</a>
    <template v-if="buttons.edit">
      <template v-if="buttons.view">&nbsp;&#183;&nbsp;</template>
      <a href="#" @click.prevent="$emit('edit', $event)">`Edit`</a>
    </template>
    <template v-if="buttons.quickedit">
      <template v-if="buttons.view || buttons.edit">&nbsp;&#183;&nbsp;</template>
      <a href="#" @click.prevent="$emit('quickedit', $event)">`Quick Edit`</a>
    </template>
    <template v-if="buttons.delete">
      <template v-if="buttons.view || buttons.edit || buttons.quickedit">&nbsp;&#183;&nbsp;</template>
      <a href="#" class="text-danger" @click.prevent="$emit('delete', $event)" :disabled="is_readonly"><~/common/icons/x></a>
    </template>

    <slot name="btn-append"></slot>
  </td>
</script>

<script type="module">
fwApp.component('list-row-btn', {
  template: '#list-row-btn-template',
  props: ['row', 'buttons', 'is_left', 'is_readonly'],
  emits: ['view', 'edit', 'quickedit', 'delete'],
  data: () => ({
  }),
  computed: {
  },
  mounted(){
  },
  updated(){
  },
  methods: {
  }
});
</script>
