<script type="text/x-template" id="list-cell-input-template">
  <div :class="$slots.prepend || $slots.append ? 'input-group' : ''">
      <slot name="prepend"></slot>
      <input :type="inputType"
        :class="'form-control'+(error?' is-invalid':'')"
        :id="'cell-'+row.id+'-'+col.field_name"
        v-model="row[col.field_name]"
        :maxlength="col.maxlength"
        :min="col.min"
        :max="col.max"
        :step="col.step"
        :pattern="col.pattern"
        :required="col.required"
        :placeholder="col.placeholder"
        :readonly="col.readonly"
        :disabled="col.disabled"
        @focus="onFocus"
        @blur="$emit('blur', $event)"
        @change="console.log($event);$emit('change', $event)"
        @keydown.esc.prevent="onCancel"
        @keydown.enter.prevent="$emit('change', $event)"
        @keydown.up.prevent="onNavigate('up')"
        @keydown.down.prevent="onNavigate('down')"
        >
      <slot name="append"></slot>
      <div v-if="error" class="invalid-tooltip">{{error}}</div>
  </div>
</script>

<script type="module">
fwApp.component('list-cell-input', {
  template: '#list-cell-input-template',
  props: ['type', 'row', 'col', 'error'],
  emits: ['focus', 'blur', 'change', 'navigate'],
  data: () => ({
    initial_value: '', //value before change
  }),
  computed: {
    inputType: function () {
      const TYPE_MAP={
        text: 'text',
        email: 'email',
        number: 'number',
        date: 'date',
        date_popup: 'date',
        password: 'password',
        textarea: 'text'
      };
      let type = this.type ?? this.col.input_type ?? 'text';
      return TYPE_MAP[type]??'text';
    },
  },
  methods: {
    onFocus(e){
      this.initial_value = this.row[this.col.field_name];
      this.$emit('focus', e);
    },
    onCancel(e){
      this.row[this.col.field_name] = this.initial_value;
    },
    onNavigate(dir) {
      if (this.inputType=='date'){
        console.log('cancel for date to:', this.initial_value);
        this.onCancel();
      }
      this.$emit('navigate', { dir, row: this.row, col: this.col });
    },
  }
});
</script>
