<script type="text/x-template" id="view-header-template">
  <div class="float-end pt-1 d-print-none">
    <a @click.prevent="onNext(true)" href="#" class="btn btn-link"><i class="bi bi-arrow-left-circle"></i> `Prev`</a>
    <a @click.prevent="onNext()" href="#" class="btn btn-link">`Next` <i class="bi bi-arrow-right-circle"></i></a>
  </div>

  <nav class="d-print-none">
    <a href="#" @click.prevent="fwStore.openListScreen">{{fwStore.list_title}}</a> <span class="text-muted">/</span>
  </nav>
  <h1>{{fwStore.view_title}}</h1>

  <div class="btn-std d-print-none">
    <div class="btn-group" v-if="!disableAddNew || $slots.group || fwStore.return_url">
      <a v-if="fwStore.return_url"
        class="btn btn-default"
        :href="fwStore.return_url"
      ><i class="bi bi-arrow-left-circle"></i> `Return Back`</a>
      <a v-if="!disableAddNew"
        class="btn btn-default"
        href="#"
        @click.prevent="onAddNew"
        :disabled="fwStore.is_readonly"
      ><~/common/icons/plusb> `Add New`</a>
      <a v-if="current_id"
        class="btn btn-default"
        href="#"
        @click.prevent="onEdit"
        :disabled="fwStore.is_readonly"
      ><i class="bi bi-pencil-fill"></i> `Edit`</a>
      <slot name="group"></slot>
    </div>
    <!--TODO /common/form/btn_userlists if="is_userlists"-->

    <a v-if="item.status!=127"
      class="btn btn-default float-end ms-1"
      href="#"
      @click.prevent="onDelete"
    ><span class="text-danger"><i class="bi bi-x-circle-fill"></i></span> `Delete`</a>
    <template v-if="item.status==127">
      <a v-if="fwStore.access_level==100"
        class="btn btn-danger float-end ms-1"
        href="#"
        @click.prevent="onDelete"
      ><i class="bi bi-x-square-fill"></i> `Permanent Delete`</a>
      <a class="btn btn-default float-end ms-1"
        href="#"
        @click.prevent="onRestore"
      ><span class="text-success"><i class="bi bi-check-circle-fill"></i></span> `Restore Deleted`</a>
    </template>

   <slot></slot>
  </div>

</script>

<script type="module">
import { mapStores } from 'pinia';

fwApp.component('view-header', {
  template: '#view-header-template',
  props: {
    disableAddNew: {
      type: Boolean,
      default: false
    },
  },
  data: () => ({
  }),
  computed: {
    ...mapStores(useFwStore), //accessible via this.fwStore
    current_id() {
      return this.fwStore.current_id ?? 0;
    },
    item(){
      return this.fwStore.edit_data?.i ?? [];
    }
  },
  methods: {
    onAddNew(e){
      this.fwStore.openEditScreen(0);
    },
    onEdit(e){
      this.fwStore.openEditScreen(this.current_id);
    },
    async onDelete(e){
      await this.fwStore.deleteRow(this.current_id);
      this.fwStore.openListScreen();
    },
    async onRestore(e){
      await this.fwStore.restoreRow(this.current_id);
      await this.fwStore.loadItem(this.current_id);
    },
    async onNext(is_prev){
      const id = await this.fwStore.getNextID(this.current_id, is_prev);
      await this.fwStore.openViewScreen(id);
    }
  }
});
</script>
