:root,
[data-bs-theme=light] {
    /*--fw-body-bg: #f5f5f5;*/
    --fw-body-bg: #fff;
    --fw-pane-bg: var(--bs-tertiary-bg);
    --fw-spacer: 1rem;
    --fw-spacer05: calc(var(--fw-spacer)*0.5);
    --fw-hiliter: #ffffcc;
    --fw-table-row-font-size: 0.9rem;
    --fw-sidebar-width: 260px;
    --fw-btn-default-color: var(--bs-emphasis-color);
    --fw-btn-default-bg: var(--bs-light);
    --fw-btn-default-border: var(--bs-light-border-subtle);
    --theme-nav-link-color: RGBA(var(--bs-emphasis-color-rgb),var(--bs-link-opacity,1)) !important;
    --fw-card-bg: transparent;
    --fw-card-border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    --fw-card-radius: var(--bs-border-radius);
    --fw-card-shadow: none;
    --fw-card-padding: var(--fw-spacer) var(--fw-spacer) 0 var(--fw-spacer);
    --fw-card-margin-bottom: var(--fw-spacer);
    --fw-page-header-gap: var(--fw-spacer05);
    --fw-page-header-mb: var(--fw-spacer05);
    --fw-page-header-border: none;
    --fw-page-header-title-color: inherit;
    --fw-dashboard-card-radius: var(--bs-card-border-radius, var(--bs-border-radius));
    --fw-dashboard-card-shadow: none;
    --fw-dashboard-card-padding: var(--bs-card-spacer-y, var(--fw-spacer)) var(--bs-card-spacer-x, var(--fw-spacer));
    --fw-dashboard-card-margin: calc(var(--fw-spacer)*1.5);
    --fw-page-padding-y: 0;
    --fw-page-padding-x: 0;
    --fw-radius-lg: 20px;
    --fw-color-secondary: var(--bs-secondary-color, #6c757d);
    --fw-field-multi-max-height: calc(var(--bs-body-font-size)*13);
    --fw-file-drop-border: 2px dashed #ccc;
}

[data-bs-theme=dark] {
    --fw-body-bg: #1c1c1c;
    --fw-hiliter: #555522;
    /*--fw-pane-bg: var(--bs-tertiary-bg);*/
    --fw-btn-default-bg: var(--bs-light-bg-subtle);
    --fw-btn-default-border: var(--bs-light-border-subtle);
    /* for vue multiselect */
    --ms-bg: var(--bs-body-bg);
    --ms-dropdown-bg: var(--bs-body-bg);
    --ms-border-width: var(--bs-border-width);
    --ms-border-color: var(--bs-border-color);
    --ms-placeholder-color: var(--bs-secondary-color);
    --ms-dropdown-border-width: var(--bs-border-width);
    --ms-dropdown-border-color: var(--bs-border-color);
    --ms-option-bg-pointed: #52525E;
    --ms-option-color-pointed: var(--bs-body-color);
}

body {
    background-color: var(--fw-body-bg);
}

/*.nav-pills {
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #0d6efd;
}
*/
.card {
    --bs-body-bg: var(--fw-pane-bg);
}

/****** fw utilities */
.w100 {
    width: 100px;
}

.nl2br {
    white-space: pre-wrap;
}

/****** fw elements */
/*default button appearance*/
.btn-default {
    background-color: var(--fw-btn-default-bg);
    border-color: var(--fw-btn-default-border);
    --bs-btn-color: var(--fw-btn-default-color);
}

    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active {
        background-color: var(--fw-btn-default-border);
        border-color: var(--fw-btn-default-border);
    }

    .btn-default:active,
    .btn-default.active {
        background-image: none;
    }

a[disabled] {
    cursor: default;
    pointer-events: none;
    color: var(--bs-btn-disabled-color);
}

.btn-fileinput {
    overflow: hidden;
    position: relative;
}

    .btn-fileinput input {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        outline: none;
        background: white;
        min-width: 100%;
        min-height: 100%;
    }

.fw-file-drop-area {
    border: var(--fw-file-drop-border);
    border-radius: var(--fw-radius-lg);
    position: relative;
    padding: calc(var(--fw-spacer)*1.25);
    text-align: center;
}

    .fw-file-drop-area.highlight {
        background-color: var(--fw-hiliter);
        border-color: var(--bs-primary);
    }

    .fw-file-drop-area .fake-btn {
        cursor: pointer;
    }

.badge-outline-secondary {
    color: var(--fw-color-secondary);
    background-color: transparent;
    background-image: none;
    border-color: var(--fw-color-secondary);
    border: 1px solid;
}

h1 .badge {
    font-size: 1.25rem;
    vertical-align: middle;
}

.fw-card {
    /*  background-color: #fff;
  border-radius: 0.25rem;
  padding: 1rem 1rem 0.25rem 1rem;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
*/
}

    #FEdit.fw-card,
    #FView.fw-card,
    #FDel.fw-card,
    .fw-card[data-list-filter] {
        background-color: var(--fw-card-bg);
        border: var(--fw-card-border);
        border-radius: var(--fw-card-radius);
        padding: var(--fw-card-padding);
        /*    padding: 1rem 1rem 0.25rem 1rem;*/
        margin-bottom: var(--fw-card-margin-bottom);
        box-shadow: var(--fw-card-shadow);
    }

.dashboard-card {
    border-radius: var(--fw-dashboard-card-radius);
    box-shadow: var(--fw-dashboard-card-shadow);
    margin-bottom: var(--fw-dashboard-card-margin);
    position: relative;
    overflow: hidden;
}

    .dashboard-card .card-body {
        padding: var(--fw-dashboard-card-padding, var(--bs-card-spacer-y) var(--bs-card-spacer-x));
        z-index: 1;
    }

    .dashboard-card .svg-container {
        position: absolute;
        top: -24%;
        right: -40%;
        width: 240px;
        height: 120%;
        z-index: 0;
        opacity: 0.3;
        font-size: 137px;
    }

    .dashboard-card .card-content {
        flex-grow: 1;
    }

    .dashboard-card .chart-container {
        position: relative;
        width: 100%;
    }

        .dashboard-card .chart-container canvas {
            height: 250px;
        }

/****** layout */
.navbar-brand {
    position: relative;
}

.sidebar {
    width: var(--fw-sidebar-width);
    padding: 0;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity));
    color: #000;
    position: relative;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .sidebar {
        position: sticky;
        top: 0;
        height: 100vh;
        z-index: 100;
    }
}

.sidebar > .d-flex {
    min-height: 100%;
}

.sidebar .sidebar-toggler-pin {
    display: none;
}

.sidebar-user-menu {
    margin-top: auto;
    padding-top: var(--fw-spacer);
}

.on-sidebar-toggler {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .15s, color .15s;
}

    .on-sidebar-toggler:hover {
        background-color: var(--bs-primary);
        color: var(--bs-white) !important;
    }

        .on-sidebar-toggler:hover .bi {
            color: var(--bs-white) !important;
        }

@media (max-width: 767px) {
    .sidebar {
        width: var(--fw-sidebar-width);
        height: calc(100vh - 56px);
        overflow-y: auto;
        --bs-bg-opacity: 1;
    }

    #sidebar.show {
        position: absolute;
        top: 56px;
        left: 0;
        z-index: 1030;
    }

    #sidebar.collapsing {
        position: absolute;
        top: 56px;
        left: 0;
        z-index: 1030;
    }

    .sidebar-toggler-show {
        display: none;
    }
}

.sidebar .site-title {
    color: var(--theme-nav-link-color);
}

.sidebar .nav-link {
    color: var(--theme-nav-link-color);
}

.sidebar .nav-pills .nav-link.active {
    color: var(--bs-nav-pills-link-active-color) !important; /*fix active nav text color for light mode*/
}

.fw-site-badge {
    position: absolute;
    font-size: var(--fw-site-badge-font-size, 0.75rem);
    opacity: var(--fw-site-badge-opacity, 0.8);
    top: var(--fw-site-badge-offset-top, 1.6rem);
    right: var(--fw-site-badge-offset-right, 2rem);
}

.sidebar .nav-header {
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

main {
    min-width: 0;
    padding: var(--fw-page-padding-y) var(--fw-page-padding-x);
}

.site-footer {
}

.page-header {
    display: flex;
    flex-direction: column;
    gap: var(--fw-page-header-gap);
    margin-bottom: var(--fw-page-header-mb);
    border-bottom: var(--fw-page-header-border);
    padding-bottom: var(--fw-page-header-gap);
}

.page-header-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--fw-spacer05);
}

.page-header-row-title .page-title {
    margin: 0;
    color: var(--fw-page-header-title-color);
}

.page-header-row-nav .page-header-record-nav {
    margin-left: auto;
}

.page-header-row-nav .btn-link {
    padding-top: 0;
    padding-bottom: 0;
}

.page-header-meta {
    margin-left: auto;
}

.page-header-row-actions .page-header-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--fw-spacer05);
}

.page-header-row-actions .page-header-actions-extra {
    margin-left: auto;
}

.page-header-row-title .badge {
    vertical-align: middle;
}

.page-header-row-actions .form-saved-status-global {
    display: none;
}

.no-sidebar #sidebar:not(.show,.collapsing) {
    display: none !important;
}

.no-sidebar .sidebar {
    height: calc(100vh - 56px); /* 56px is typical Bootstrap header height */
}

    .no-sidebar .sidebar .sidebar-toggler-hide {
        display: none;
    }

    .no-sidebar .sidebar .sidebar-toggler-pin {
        display: inline-block;
    }

.no-sidebar .site-navbar {
    display: block !important;
}

    .no-sidebar .site-navbar .navbar-toggler {
        display: block !important;
    }

/****** list screens */
.btn-std {
    margin-bottom: var(--fw-spacer);
}

.table-list-wrapper {
    position: relative;
}

.table-list-hscroll-hint {
    position: absolute;
    top: 0;
    left: 0;
    font-size: small;
    display: none;
    opacity: 0.6;
}

.table-dense > .table-list-hscroll-hint {
    display: block;
}

table.list {
}

    table.list > thead {
        background-color: var(--bs-secondary-bg);
        position: sticky;
        top: 0;
        z-index: 10;
    }
        /*
    table.list > thead > tr:first-child th:first-child {
      border-top-left-radius: var(--bs-border-radius);
    }
    table.list > thead > tr:first-child th:last-child {
      border-top-right-radius: var(--bs-border-radius);
    }
*/
        table.list > thead > tr > th[data-sort] {
            cursor: pointer;
        }

            table.list > thead > tr > th[data-sort].active-sort {
                background-color: var(--fw-hiliter) !important;
                white-space: nowrap;
            }

    table.list .search {
        display: none;
    }

    table.list tbody td {
        font-size: var(--fw-table-row-font-size);
    }

    table.list tbody a {
        text-decoration: none;
    }

    table.list > tbody > tr.selected > td {
        background-color: var(--fw-hiliter) !important;
    }

    table.list.table-dense > :not(caption) > * > * {
        padding: 0 1px !important;
        font-size: 0.7rem !important;
    }

    table.list.table-dense th.rotate {
        /* height to fit longest name */
        height: 140px;
        white-space: nowrap;
    }

        table.list.table-dense th.rotate > div {
            transform: translate(0px, -8px)
            /* 45 is really 360 - 45 */
            rotate(315deg);
            width: 30px;
        }

            table.list.table-dense th.rotate > div > span {
                border-bottom: 1px solid #ccc;
                padding: 5px 10px;
            }

/*** editable list*/
table.list-edit tbody td {
    padding: 0;
    border-width: 1px;
}

    table.list-edit tbody td.list-row-cb {
        padding: 0.4rem 0.5rem;
    }

    table.list-edit tbody td.list-row-controls {
        padding: 0.4rem 0.5rem;
    }

    table.list-edit tbody td > div {
        position: relative;
    }

        table.list-edit tbody td > div.ro {
            --bs-text-opacity: 1;
            color: var(--bs-secondary-color) !important;
            padding: 0.4rem 0.5rem;
            white-space: nowrap;
        }

        table.list-edit tbody td > div > .form-control {
            border: 0;
            border-radius: 0;
            background: transparent;
        }

        table.list-edit tbody td > div > .form-select {
            border: 0px;
            border-radius: 0;
            /*background: transparent;*/
        }

        table.list-edit tbody td > div > .form-check-input {
            margin: 0.5rem 0.4rem;
        }

/* table-sm overrides */
table.list-edit.table-sm tbody td.list-row-cb {
    padding: 0.25rem 0.25rem;
}

table.list-edit.table-sm tbody td.list-row-controls {
    padding: 0.25rem 0.25rem;
}

table.list-edit.table-sm tbody td > div.ro {
    padding: 0.25rem 0.25rem;
}

table.list-edit.table-sm tbody td > div > .form-control {
    min-height: calc(1.5em + .5rem + calc(var(--bs-border-width) * 2));
    padding: .25rem .5rem;
    font-size: .875rem;
}

table.list-edit.table-sm tbody td > div > .form-select {
    padding-top: .31rem;
    padding-bottom: .32rem;
    padding-left: .5rem;
    font-size: .875rem;
}

/* table-dense overrides */
table.list-edit.table-dense tbody td.list-row-cb {
    padding: 0 0.1rem;
}

table.list-edit.table-dense tbody td.list-row-controls {
    padding: 0 0.1rem;
}

table.list-edit.table-dense tbody td > div.ro {
    padding: 0 0.1rem;
}

table.list-edit.table-dense tbody td > div > .form-control {
    min-height: auto;
    padding: 0 .5rem;
    font-size: .7rem;
}

table.list-edit.table-dense tbody td > div > .form-select {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: .5rem;
    font-size: .7rem;
}

table.list-edit.table-dense tbody td > div > .form-check-input {
    margin: 0.17rem 0.4rem;
}

.cell-success-fade, .cell-success-fade input, .cell-success-fade select, .cell-success-fade textarea {
    animation: fadeOutBackground 2s forwards;
}
/* Animation for fading out the border */
@keyframes fadeOutBackground {
    from {
        background-color: var(--bs-success);
    }

    to {
        background-color: transparent;
    }
}

.cell-invalid {
    border-color: var(--bs-danger);
}

.list-edit-pane {
    position: fixed;
    z-index: 50;
    right: -100%; /* Start offscreen */
    top: 0;
    bottom: 0;
    width: 50%;
    overflow: auto;
    transition: right 0.3s ease;
    background-color: var(--fw-pane-bg);
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}

    .list-edit-pane.is-visible {
        right: 0; /* Slide in */
    }


/*for .scrollable tables with fixed header*/
.data-header {
    position: fixed;
    overflow: hidden;
    background-color: #fff;
}

    .data-header table {
        margin-bottom: 0;
        max-width: none;
        width: auto;
    }
/*list multi buttons floating when some rows checked*/
#list-btn-multi {
    padding: var(--fw-spacer05) var(--fw-spacer05) 0 0;
    display: inline-block;
    bottom: 0;
    left: var(--fw-spacer);
}

    #list-btn-multi.position-sticky {
        background-color: rgba(var(--bs-tertiary-bg-rgb),0.5);
        padding-bottom: var(--fw-spacer);
        z-index: 1055;
    }

.pagination .active a {
    font-weight: bold
}

.pagination select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#modal-custom-cols .col-rows .cb-row:hover {
    background-color: var(--fw-hiliter);
}


/****** form screens */
.form-row {
    padding-bottom: var(--fw-spacer);
}

.hr-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
}

    .hr-header::before,
    .hr-header::after {
        content: "";
        border-top: 0.1rem double var(--bs-border-color);
        align-self: center;
    }

form .required:before {
    content: "*";
    color: var(--bs-danger);
    font-family: Menlo, Monaco, "Courier New", monospace;
    line-height: 1.2;
}

form [class^='err-'] {
    display: none;
}

form .has-danger label {
    color: var(--bs-form-invalid-color);
}

form .has-danger input,
form .has-danger select {
    border-color: var(--bs-form-invalid-border-color);
}

form .has-danger .invalid-feedback {
    display: block;
}

#FView.fw-card label {
    font-weight: bold;
}

.field-multi-value {
    max-height: var(--fw-field-multi-max-height);
    overflow: auto;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: var(--fw-spacer05);
}

.att-info {
    width: calc(var(--fw-spacer)*10);
    text-align: center;
    margin-bottom: var(--fw-spacer05);
}

/*att select modal thumbnails*/
.thumbnail {
    display: block;
    margin-bottom: var(--fw-spacer);
    line-height: 1.42857143;
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    position: relative;
}

    .thumbnail a > img, .thumbnail > img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .thumbnail .title {
        display: block;
        padding: var(--fw-spacer05);
        position: absolute;
        bottom: 0;
        left: 0;
    }

a.thumbnail:hover {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color-translucent);
    color: var(--bs-emphasis-color);
}

.thumbs .thumbnail {
    width: 138px;
    height: 140px;
    margin-right: var(--fw-spacer05);
}

.user-list-avatar {
    width: 50px;
    height: 50px;
    background-color: #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .field-multi-value .custom-control {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

/*on large screens align form labels to the right - closer to inputs*/
@media (min-width: 768px) {
    .form-group.row > .col-form-label,
    .form-row > .col-form-label {
        text-align: right;
    }
}

/* print helpers */
@media print {
    .sidebar {
        display: none !important;
    }

    .page-break-after {
        page-break-after: always;
    }

    .page-break-inside-avoid {
        page-break-inside: avoid
    }

    main {
        max-width: 100% !important;
        width: 100% !important;
        flex-basis: 100% !important;
        margin: 0 !important;
    }

        main.px-4 {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

    /*this is for PDF generation, layout_print.html*/
    body.fwlayout-print .main-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > td {
        background-color: #f9f9f9 !important;
        -webkit-print-color-adjust: exact !important;
    }
}
