:root,
[data-bs-theme=light]{
  /*--fw-body-bg: #f5f5f5;*/
  --fw-body-bg: #fff;
  --fw-pane-bg: var(--bs-tertiary-bg);
  --fw-spacer: 1rem;
  --fw-spacer05: calc(var(--fw-spacer)*0.5);
  --fw-hiliter: #ffffcc;
  --fw-table-row-font-size: 0.9rem;
  --fw-sidebar-width: 260px;
}

[data-bs-theme=dark] {
  --fw-body-bg: #1c1c1c;
  /*--fw-pane-bg: var(--bs-tertiary-bg);*/
}

body {
 background-color: var(--fw-body-bg);
}

/*.nav-pills {
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #0d6efd;
}
*/
.card {
  --bs-body-bg: var(--fw-pane-bg);
}

/****** fw utilities */
.w100 {
  width: 100px;
}

/****** fw elements */
/*default button appearance*/
.btn-default {
  background-color: var(--bs-gray-100);
  border-color: var(--bs-gray-300);
  --bs-btn-color: #000;
}

  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active,
  .btn-default.active,
  .open .dropdown-toggle.btn-default {
    color: var(--bs-gray-900);
    background-color: var(--bs-gray-300);
    border-color: var(--bs-gray-300);
  }

  .btn-default:active,
  .btn-default.active,
  .open .dropdown-toggle.btn-default {
    background-image: none;
  }

a[disabled]
  cursor: default;{
  pointer-events: none;
  color: var(--bs-btn-disabled-color);
}

.bi {
  display: inline-block;
  vertical-align: -2px;
  height: 1em;
  width: 1em;
}

.fw-card {
/*  background-color: #fff;
  border-radius: 0.25rem;
  padding: 1rem 1rem 0.25rem 1rem;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
*/
}

/****** layout */
.sidebar {
  width: var(--fw-sidebar-width);
  z-index: 100;

  display: flex!important;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 0;
  color: #000;
}

main {
  margin-left: var(--fw-sidebar-width);
}
.site-footer {
}

.no-sidebar .sidebar:not(.show,.collapsing) {
  display: none!important;
}
  .no-sidebar main {
    margin-left: 0;
  }
  .no-sidebar .site-navbar {
    display: block !important;
  }
  .no-sidebar .site-navbar .navbar-toggler {
    display: block !important;
  }


@media screen and (max-width: 768px) {
  .sidebar:not(.show,.collapsing) {
    display: none!important;
  }
  main {
    margin-left: 0;
  }
}

/****** list screens */
table.list > thead {
  background-color: var(--bs-gray-100);
}
table.list > thead > tr > th[data-sort] {
  cursor: pointer;
}
table.list > thead > tr > th[data-sort].active-sort{
  background-color: var(--fw-hiliter) !important;
  white-space: nowrap;
}
table.list .search {
  display: none;
}
table.list tbody td {
  font-size: var(--fw-table-row-font-size);
}
table.list tbody a {
  text-decoration: none;
}
table.list > tbody > tr.selected {
  background-color: var(--fw-hiliter) !important;
}

/*for .scrollable tables with fixed header*/
.data-header {
  position: fixed;
  overflow: hidden;
  background-color: #fff;
}
  .data-header table{
    margin-bottom: 0;
    max-width: none;
    width: auto;
  }
/*list multi buttons floating when some rows checked*/
#list-btn-multi {
 background-color: rgba(255,255,255,0.8);
 padding: var(--fw-spacer05) var(--fw-spacer05) 0 0;
 display: inline-block;
 bottom: 0;
 left: var(--fw-spacer);
}
  #list-btn-multi.position-fixed {
    left: var(--fw-sidebar-width);
    padding-left: var(--fw-spacer);
    padding-bottom: var(--fw-spacer);
  }
.pagination .active a {font-weight:bold}
.pagination select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/****** form screens */


@media screen and (max-width: 768px) {
  .field-multi-value .custom-control{
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

/*on large screens align form labels to the right - closer to inputs*/
@media (min-width: 768px) {
  .form-group.row > .col-form-label,
  .form-row > .col-form-label
  {
    text-align: right;
  }
}


/****** jGrowl customizations */
div.jGrowl div.hint_green{
 background-color:var(--bs-success);
 color:var(--bs-white);
}

div.jGrowl div.hint_error{
 background-color:var(--bs-error);
 color:var(--bs-white);
}

div.jGrowl div.hint_info{
 background-color:var(--bs-info);
 color:var(--bs-white);
}

div.jGrowl div.jGrowl-notification
, div.jGrowl div.jGrowl-closer {
  border-radius: var(--bs-border-radius);
}
  div.jGrowl div.jGrowl-notification div.jGrowl-close {
    font-size: 1.2em;
  }

