.badge-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    border: 1px solid;
}

h1 .badge {
 font-size: 1.25rem;
 vertical-align: middle;
}

.btn-close {
 width: 0.7em;
 height: 0.7em;
}

table.list-edit tbody td {
  padding: 0;
  border-width: 1px;
}


  table.list-edit tbody td.list-row-cb {
    padding: 0.4rem 0.5rem;
  }
  table.list-edit tbody td.list-row-controls {
    padding: 0.4rem 0.5rem;
  }
/**/

  /*
  table.list-edit tbody td > div {
   display: block;
   max-width: 100%;
  }
  */

  table.list-edit tbody td > div.ro {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
    padding: 0.4rem 0.5rem;
  }

  table.list-edit tbody td > div > .form-control {
   border: 0;
   border-radius: 0;
/*   line-height: 1.3rem;*/
  }
  table.list-edit tbody td > div > .form-select {
    border: 0px;
    border-radius: 0;
   /*
   appearance: auto;
   height: 1.48rem;
   */
  }

/* table-sm overrides */
table.list-edit.table-sm tbody td > div.ro {
  padding: 0.25rem 0.25rem;
}

/* table-dense overrides */
