.badge-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    border: 1px solid;
}

h1 .badge {
 font-size: 1.25rem;
 vertical-align: middle;
}

.btn-close {
 width: 0.7em;
 height: 0.7em;
}


table tbody td.editable {
 padding: 0;
}

/*
table tbody td.editable > div {
 display: block;
 max-width: 100%;
}
*/

/*
table tbody td.editable > div > input {
 border: 0px;
 line-height: 1.3rem;
}
*/
table tbody td.editable > div > select {
 appearance: auto;
 /*
 border: 0px;
 height: 1.48rem;
 */
}
